<!DOCTYPE html>
<html lang="ko">

<head>
	<title>신한투자증권프로젝트메타</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<!-- ui source -->
	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-darkmode.css" id="stylesheet-darkmode" disabled>
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>
	<div>
		<label class="inp-switch gap10 d-inflex">
			<b>테마변경</b>
			<span class="theme-switch">
				<input type="checkbox" id="themeSelector">
				<span class="theme-input-white"><span class="blind">화이트모드</span></span>
				<span class="theme-input-dark"><span class="blind">다크모드</span></span>
			</span>
		</label>
	</div>
	<div>
		<h1>Jstree</h1>
		<div class="column column-no-repeat">
			<div class="hr">
				<div id="jstree2" class="jstree-checkbox">
					<!-- in this example the tree is populated from inline HTML -->
					<ul>
						<li>신한투자증권
							<div class="list">
								<div>S 300명</div>
								<div>T 30,132개</div>
								<div>D 1920개</div>
								<div>W 1,230개</div>
							</div>
							<ul>
								<li>Child node 1
									<div class="list">
										<div>S 300명</div>
										<div>T 30,132개</div>
										<div>D 1920개</div>
										<div>W 1,230개</div>
									</div>
									<ul>
										<li>Child node 1
											<div class="list">
												<div>S 300명</div>
												<div>T 30,132개</div>
												<div>D 1920개</div>
												<div>W 1,230개</div>
											</div>
										</li>
										<li>Child node 2</li>
									</ul>
								</li>
								<li>Child node 2</li>
							</ul>
						</li>
						<li>신한투자증권
							<!-- <div class="list">
								<div>S 300명</div>
								<div>T 30,132개</div>
								<div>D 1920개</div>
								<div>W 1,230개</div>
							</div> -->
							<ul>
								<li id="child_node_2">Child node 1</li>
								<li>Child node 2</li>
							</ul>
						</li>
						<li>Root node 2</li>
					</ul>
				</div>


			</div>
		</div>
		<hr>
	</div>

	<script>
		$(function() {
			$('#jstree2').jstree({
				"plugins": ["wholerow", "checkbox"]
			});
		});
	</script>
</body>

</html>