<!DOCTYPE html>
<html lang="ko">

<head>
	<title>신한투자증권프로젝트메타</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<!-- ui source -->
	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-darkmode.css" id="stylesheet-darkmode" disabled>
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>
	<div>
		<label class="inp-switch gap10 d-inflex">
			<b>테마변경</b>
			<span class="theme-switch">
				<input type="checkbox" id="themeSelector">
				<span class="theme-input-white"><span class="blind">화이트모드</span></span>
				<span class="theme-input-dark"><span class="blind">다크모드</span></span>
			</span>
		</label>
	</div>
	<div>
		<h1>search-filter</h1>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>Default</h2>
				<!-- search-filter -->
				<div class="search-filter">
					<div class="row">
						<div class="col">
							<div class="title">검색어</div>
							<div class="cont">
								<div class="form">
									<select title="검색어">
										<option value="전체">전체</option>
									</select>
									<input type="search" title="검색어">
								</div>
							</div>
							<div class="title">연관 BI대시보드</div>
							<div class="cont">
								<div class="form">
									<div class="input-wrap">
										<input type="search" title="연관 BI대시보드">
										<button type="button" class="btn-ico ico-search" title="검색"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">부서검색</div>
							<div class="cont">
								<div class="form">
									<div class="input-wrap">
										<input type="search" title="부서검색">
										<button type="button" class="btn-ico ico-search" title="검색"></button>
									</div>
								</div>
							</div>
							<div class="title">전사표준여부</div>
							<div class="cont">
								<div class="form form-list">
									<label class="inp"><input type="radio"><b>전체</b></label>
									<label class="inp"><input type="radio"><b>예</b></label>
									<label class="inp"><input type="radio"><b>아니오</b></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title"></div>
							<div class="cont">
								<div class="btn-wrap">
									<div class="right">
										<button type="reset" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</button>
										<button type="button" class="btn-large btn-primary">검색</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //search-filter -->
			</div>
		</div>

		<hr>

		<div class="column column-no-repeat">

			<div class="hr">
				<h2>Inner Tab</h2>
				<!-- tab-content -->
				<div class="tab-content">
					<ul class="tab-list">
						<li class="tab tab-active"><a href="#">공지사항</a></li>
						<li class="tab"><a href="#">동영상 매뉴얼</a></li>
						<li class="tab"><a href="#">교육 매뉴얼</a></li>
					</ul>
				</div>
				<!-- //tab-content -->
				<!-- search-filter -->
				<div class="search-filter">
					<div class="row">
						<div class="col">
							<div class="title">작성자</div>
							<div class="cont">
								<div class="form">
									<div class="input-wrap">
										<input type="search" title="작성자">
										<button type="button" class="btn-ico ico-search" title="검색"></button>
									</div>
								</div>
							</div>
							<div class="title">등록부서</div>
							<div class="cont">
								<div class="form">
									<div class="input-wrap">
										<input type="search" title="등록부서">
										<button type="button" class="btn-ico ico-search" title="검색"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">등록일</div>
							<div class="cont">
								<div class="form">
									<input type="date" title="시작일">
									<div class="bul">~</div>
									<input type="date" title="종료일">
								</div>
							</div>
							<div class="title">공개여부</div>
							<div class="cont">
								<div class="d-flex j-between a-center">
									<div class="form form-list">
										<label class="inp"><input type="radio"><b>전체</b></label>
										<label class="inp"><input type="radio"><b>예</b></label>
										<label class="inp"><input type="radio"><b>아니오</b></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">검색어</div>
							<div class="cont">
								<div class="form">
									<select title="검색어">
										<option value="전체">전체</option>
									</select>
									<input type="search" title="검색어">
								</div>
							</div>
							<div class="title"></div>
							<div class="cont">
								<div class="btn-wrap">
									<div class="right">
										<button type="reset" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</button>
										<button type="button" class="btn-large btn-primary">검색</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //search-filter -->
			</div>
		</div>

		<hr>

		<div class="column column-no-repeat">

			<div class="hr">
				<h2>Inner Tab + dashboard</h2>
				<!-- tab-content -->
				<div class="tab-content">
					<ul class="tab-list">
						<li class="tab tab-active"><a href="#">포털등록</a></li>
						<li class="tab"><a href="#">권한변경/삭제</a></li>
						<li class="tab"><a href="#">롤링</a></li>
						<li class="tab"><a href="#">구독/알림</a></li>
					</ul>
				</div>
				<!-- //tab-content -->

				<!-- dashboard -->
				<div class="dashboard">
					<ul class="dashboard-tab-list">
						<li class="dashboard-tab tab-active"><a href="#">전체 신청</a></li>
						<li class="dashboard-tab"><a href="#">부서별 신청</a></li>
						<li class="dashboard-tab"><a href="#">나의 신청</a></li>
					</ul>
					<ul class="dashboard-inner">
						<li>
							<a href="#">
								<dl>
									<dt>신청중</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>승인완료</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>접수중</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>접수완료</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>처리완료</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>반려</dt>
									<dd><span>100</span>건</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<!-- //dashboard -->

				<!-- search-filter -->
				<div class="search-filter">
					<div class="row">
						<div class="col">
							<div class="title">기간검색</div>
							<div class="cont">
								<div class="form">
									<select title="기간검색">
										<option value="전체">전체</option>
									</select>
									<input type="date" title="">
									<div class="bul">~</div>
									<input type="date" title="">
								</div>
							</div>
							<div class="title">BI종류</div>
							<div class="cont">
								<div class="form form-list">
									<label class="inp"><input type="radio"><b>전체</b></label>
									<label class="inp"><input type="radio"><b>개인BI</b></label>
									<label class="inp"><input type="radio"><b>협업BI</b></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">BI구분</div>
							<div class="cont">
								<div class="form form-list">
									<label class="inp"><input type="checkbox"><b>전체</b></label>
									<label class="inp"><input type="checkbox"><b>카드형</b></label>
									<label class="inp"><input type="checkbox"><b>매트릭형</b></label>
									<label class="inp"><input type="checkbox"><b>보고서형</b></label>
								</div>
							</div>
							<div class="title">조회권한</div>
							<div class="cont">
								<div class="form form-list">
									<label class="inp"><input type="checkbox"><b>전체</b></label>
									<label class="inp"><input type="checkbox"><b>전체공개</b></label>
									<label class="inp"><input type="checkbox"><b>부서공개</b></label>
									<label class="inp"><input type="checkbox"><b>개별지정</b></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">진행상태</div>
							<div class="cont">
								<div class="form form-list">
									<label class="inp"><input type="checkbox"><b>전체</b></label>
									<label class="inp"><input type="checkbox"><b>신청중</b></label>
									<label class="inp"><input type="checkbox"><b>승인완료</b></label>
									<label class="inp"><input type="checkbox"><b>접수중</b></label>
									<label class="inp"><input type="checkbox"><b>접수완료</b></label>
									<label class="inp"><input type="checkbox"><b>처리완료</b></label>
									<label class="inp"><input type="checkbox"><b>반려</b></label>
									<label class="inp"><input type="checkbox"><b>보고서삭제</b></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="title">검색어</div>
							<div class="cont">
								<div class="form">
									<select title="검색어">
										<option value="전체">전체</option>
									</select>
									<input type="search" title="검색어">
								</div>
							</div>
							<div class="title"></div>
							<div class="cont">
								<div class="btn-wrap">
									<div class="right">
										<a href="#" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</a>
										<a href="#" class="btn-large btn-primary">검색</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //search-filter -->
			</div>
		</div>

	</div>


	<div class="column column-no-repeat">

		<div class="hr">
			<h2>Dashboard > .group</h2>

			<!-- dashboard -->
			<div class="dashboard">
				<dl class="dashboard-group">
					<div class="list">
						<dt>전체 테이블</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>분류체계지정</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>담당자지정</dt>
						<dd>30,000</dd>
					</div>
				</dl>
				<dl class="dashboard-group">
					<div class="list">
						<dt>전체 대시보드</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>분류체계지정</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>담당자지정</dt>
						<dd>30,000</dd>
					</div>
				</dl>
				<dl class="dashboard-group">
					<div class="list">
						<dt>전체 용어</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>분류체계지정</dt>
						<dd>30,000</dd>
					</div>
					<div class="list">
						<dt>담당자지정</dt>
						<dd>30,000</dd>
					</div>
				</dl>
			</div>
			<!-- //dashboard -->
		</div>
	</div>
</body>

</html>