<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->

	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->

	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- pinch-zoom -->
	<script src="../../assets/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-variable.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>
	<div class="ui-guide">
		<h1>Form</h1>
		<p>Radio</p>

		<div class="ui-guide-section">

			<div class="ui-guide-box">
				<!-- card-select -->
				<div class="card-select">
					<div class="inp inp-large">
						<span class="tags tags-medium tags-black-80">A타입</span>
						<input type="radio" name="rad001" id="inp001">
						<label for="inp001">
							<picture>
								<source srcset="../../assets/@temp/thumb_w.png">
								<img src="../../assets/@temp/thumb_w.png" alt="">
							</picture>
						</label>
					</div>
				</div>
				<!-- //card-select -->

			</div>

			<hr>

			<div class="ui-guide-box">


				<!-- business-card-customer -->
				<div class="business-card-customer-list">
					<div class="business-card-customer">
						<a href="#">
							<strong class="title-medium">김성민</strong>
							<div class="company">
								<span>디지털공통개발부 UI/UX팀</span>
								<div class="division mx8"></div>
								<span>과장</span>
							</div>
							<div class="body-medium fw-400">파인너츠</div>
							<div class="tags tags-small tags-lightBlue">키맨</div>
						</a>
						<figure>
							<div class="due-date">
								<strong class="body-small">만료일</strong>
								<span>2024.11.26</span>
							</div>
							<div class="thumb thumb-nodata">
								<!-- <button type="button" class="btn-small btn-black btn-round">연장하기</button> -->
								<picture>
									<source srcset="">
									<img src="" alt="">
								</picture>
							</div>
						</figure>
					</div>

					<div class="business-card-customer">
						<a href="#">
							<strong class="title-medium">이름</strong>
							<div class="company">
								<span>부서명</span>
								<div class="division mx8"></div>
								<span>직책</span>
							</div>
							<div class="body-medium fw-400">회사명</div>

						</a>
						<figure>
							<div class="due-date">
								<strong class="body-small">만료일</strong>
								<div class="tags tags-small tags-lightBlue">D-30</div>
							</div>
							<div class="thumb">
								<button type="button" class="btn-small btn-black btn-round" onclick="toastr.success(``, '연장되었습니다.');">연장하기</button>
								<picture>
									<source srcset="../../assets/@temp/thumb_w.png">
									<img src="../../assets/@temp/thumb_w.png" alt="">
								</picture>
							</div>
						</figure>
					</div>

					<div class="business-card-customer">
						<a href="#">
							<strong class="title-medium">이름</strong>
							<div class="company">
								<span>부서명</span>
								<div class="division mx8"></div>
								<span>직책</span>
							</div>
							<div class="body-medium fw-400">회사명</div>

						</a>
						<figure>
							<div class="due-date">
								<div class="tags tags-small tags-lightRed">삭제예정</div>
							</div>
							<div class="thumb">
								<button type="button" class="btn-small btn-black btn-round" onclick="toastr.success(``, '연장되었습니다.');">연장하기</button>
								<picture>
									<source srcset="../../assets/@temp/thumb_w.png">
									<img src="../../assets/@temp/thumb_w.png" alt="">
								</picture>
							</div>
						</figure>
					</div>
				</div>
				<!-- //business-card-customer -->

			</div>

			<hr>

			<div class="ui-guide-box">

				<!-- upload-picture -->
				<div class="upload-picture">
					<div class="upload-type-select">
						<button type="button" class="upload-gallery">갤러리</button>
						<button type="button" class="upload-camera">카메라</button>
					</div>
				</div>
				<!-- //upload-picture -->

				<!-- upload-picture -->
				<div class="upload-picture">
					<picture>
						<source srcset="../../assets/images/@temp/@business_card.png">
						<img src="../../assets/images/@temp/@business_card.png" alt="">
					</picture>
					<div class="picture-dimmed">
						<button type="button" class="btn-noborder btn-noborder-text-shadow px4 py6"><i class="ico-delete-shadow"></i>삭제</button>
					</div>
				</div>
				<!-- //upload-picture -->

				<!-- upload-picture -->
				<div class="upload-picture">
					<button type="button" aria-label="이미지 확대보기">
                        <picture>
                            <source srcset="../../assets/images/@temp/@business_card.png">
                            <img src="../../assets/images/@temp/@business_card.png" alt="">
                        </picture>
                    </button>
				</div>
				<!-- //upload-picture -->

			</div>

		</div>
	</div>
</body>

</html>