<!DOCTYPE html>
<html lang="ko">

<head>
	<title>신한투자증권프로젝트메타</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<!-- ui source -->
	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-darkmode.css" id="stylesheet-darkmode" disabled>
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>
	<div>
		<label class="inp-switch gap10 d-inflex">
			<b>테마변경</b>
			<span class="theme-switch">
				<input type="checkbox" id="themeSelector">
				<span class="theme-input-white"><span class="blind">화이트모드</span></span>
				<span class="theme-input-dark"><span class="blind">다크모드</span></span>
			</span>
		</label>
	</div>
	<div>
		<h1>Comment</h1>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>최초출력</h2>
				<!-- comment-wrap -->
				<div class="comment-wrap">

					<!-- 최초출력 -->
					<div class="comment-title">
						<h3>댓글 <span>(15개)</span></h3>
						<div class="dropDown">
							<button type="button" class="trigger" aria-expanded="true">최신순</button>
							<ul class="target">
								<li class="is-selected"><button type="button">최신순</button></li>
								<li><button type="button">전체</button></li>
								<li><button type="button">전체</button></li>
							</ul>
						</div>
					</div>
					<!-- //최초출력 -->

					<!-- 공통 textarea -->
					<div class="comment-text">
						<div class="comment-text-inner">
							<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
							<div class="comment-text-btn-wrap">
								<div class="comment-text-btn-wrap-inner">
									<div class="left">
										<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
									</div>
									<div class="right">
										<label class="btn-large btn-secondary btn-inner-ico">
											<input type="file" class="input-file">
											<i class="i-attach"></i>파일첨부
										</label>
										<button type="button" class="btn-large btn-secondary">취소</button>
										<button type="button" class="btn-large btn-primary">등록</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //공통 textarea -->

					<!-- nodata -->
					<div class="comment-nodata">등록된 댓글이 없습니다.</div>
					<!-- //nodata -->

				</div>
				<!-- //comment-wrap -->

			</div>
		</div>
		<hr>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>댓글출력</h2>
				<!-- comment-wrap -->
				<div class="comment-wrap">
					<!-- 최초출력 -->
					<div class="comment-title">
						<h3>댓글 <span>(15개)</span></h3>
						<div class="dropDown">
							<button type="button" class="trigger" aria-expanded="true">최신순</button>
							<ul class="target">
								<li class="is-selected"><button type="button">최신순</button></li>
								<li><button type="button">전체</button></li>
								<li><button type="button">전체</button></li>
							</ul>
						</div>
					</div>
					<!-- //최초출력 -->

					<!-- 공통 textarea -->
					<div class="comment-text">
						<div class="comment-text-inner">
							<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
							<div class="comment-text-btn-wrap">
								<div class="comment-text-btn-wrap-inner">
									<div class="left">
										<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
									</div>
									<div class="right">
										<label class="btn-large btn-secondary btn-inner-ico">
											<input type="file" class="input-file">
											<i class="i-attach"></i>파일첨부
										</label>
										<button type="button" class="btn-large btn-secondary">취소</button>
										<button type="button" class="btn-large btn-primary">등록</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //공통 textarea -->

					<!-- dep01 -->
					<div class="comment-list">
						<ul class="dep01">
							<li>
								<!-- 댓글 출력 -->
								<div class="comment-inner">

									<!-- 사용자 -->
									<div class="user">

										<!-- 사용자 정보 -->
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
										</div>
										<!-- //사용자 정보 -->

										<!-- 버튼 -->
										<div class="right">
											<div class="comment-btn-wrap">
												<button type="button" class="btn-xsmall btn-secondary">댓글</button>
											</div>
										</div>
										<!-- //버튼 -->

									</div>
									<!-- //사용자 -->

									<!-- 댓글 내용 -->
									<div class="comment-cont">

										<!-- 댓글 내용 상세 -->
										<div class="comment-cont-inner">
											등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
											노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
										</div>
										<!-- //댓글 내용 상세 -->

										<!-- 첨부파일 -->
										<div class="comment-attach-file">
											<ul class="attach-row-list">
												<li>
													<a href="#"><span>취약점진단.zip</span></a>
												</li>
											</ul>
										</div>
										<!-- //첨부파일 -->

									</div>
									<!-- //댓글 내용 -->

									<!-- 좋아요 & 답글 -->
									<div class="comment-btn-wrap comment-btn-bottom-wrap">
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
									</div>
									<!-- //좋아요 & 답글 -->

								</div>
							</li>
							<li>
								<!-- 댓글 출력 -->
								<div class="comment-inner">

									<!-- 사용자 -->
									<div class="user">

										<!-- 사용자 정보 -->
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
										</div>
										<!-- //사용자 정보 -->

										<!-- 버튼 -->
										<div class="right">
											<div class="comment-btn-wrap">
												<button type="button" class="btn-xsmall btn-secondary">수정</button>
												<button type="button" class="btn-xsmall btn-secondary">삭제</button>
												<button type="button" class="btn-xsmall btn-secondary">댓글</button>
											</div>
										</div>
										<!-- //버튼 -->

									</div>
									<!-- //사용자 -->

									<!-- 댓글 내용 -->
									<div class="comment-cont">
										<!-- 댓글 내용 상세 -->
										<div class="comment-cont-inner">
											등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
											노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
										</div>
										<!-- //댓글 내용 상세 -->
									</div>
									<!-- //댓글 내용 -->

									<!-- 좋아요 & 답글 -->
									<div class="comment-btn-wrap comment-btn-bottom-wrap">
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico is-like"><i class="i-like"></i><span class="blind">좋아요</span>150</button> <!-- 좋아요 활성화 -->
									</div>
									<!-- //좋아요 & 답글 -->

								</div>
							</li>
						</ul>
					</div>

				</div>
				<!-- //comment-wrap -->

			</div>
		</div>
		<hr>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>수정모드</h2>
				<!-- comment-wrap -->
				<div class="comment-wrap">

					<!-- 최초출력 -->
					<div class="comment-title">
						<h3>댓글 <span>(15개)</span></h3>
						<div class="dropDown">
							<button type="button" class="trigger" aria-expanded="true">최신순</button>
							<ul class="target">
								<li class="is-selected"><button type="button">최신순</button></li>
								<li><button type="button">전체</button></li>
								<li><button type="button">전체</button></li>
							</ul>
						</div>
					</div>
					<!-- //최초출력 -->

					<!-- 공통 textarea -->
					<div class="comment-text">
						<div class="comment-text-inner">
							<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
							<div class="comment-text-btn-wrap">
								<div class="comment-text-btn-wrap-inner">
									<div class="left">
										<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
									</div>
									<div class="right">
										<label class="btn-large btn-secondary btn-inner-ico">
											<input type="file" class="input-file">
											<i class="i-attach"></i>파일첨부
										</label>
										<button type="button" class="btn-large btn-secondary">취소</button>
										<button type="button" class="btn-large btn-primary">등록</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //공통 textarea -->

					<!-- dep01 -->
					<div class="comment-list">
						<ul class="dep01">
							<li class="toggleCont is-toggle">
								<!-- 댓글 출력 -->
								<div class="comment-inner">

									<!-- 사용자 -->
									<div class="user">

										<!-- 사용자 정보 -->
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
										</div>
										<!-- //사용자 정보 -->

									</div>
									<!-- //사용자 -->

									<!-- 댓글 내용 -->
									<div class="comment-cont">

										<!-- 공통 textarea -->
										<div class="comment-text">
											<div class="comment-text-inner">
												<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
												<div class="comment-text-btn-wrap">
													<div class="comment-text-btn-wrap-inner">
														<div class="left">
															<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
														</div>
														<div class="right">
															<label class="btn-large btn-secondary btn-inner-ico">
																<input type="file" class="input-file">
																<i class="i-attach"></i>파일첨부
															</label>
															<button type="button" class="btn-large btn-secondary">취소</button>
															<button type="button" class="btn-large btn-primary">등록</button>
														</div>
													</div>
													<!-- 첨부파일 있을 경우 -->
													<div class="comment-attach-file">
														<ul class="attach-row-list">
															<li>
																<a href="#"><span>취약점진단.zip</span></a>
																<button type="button" class="attach-remove" title="첨부파일 삭제"></button>
															</li>
														</ul>
													</div>
													<!-- //첨부파일 있을 경우 -->
												</div>
											</div>
										</div>
										<!-- //공통 textarea -->

									</div>
									<!-- //댓글 내용 -->

									<!-- 좋아요 & 답글 -->
									<div class="comment-btn-wrap comment-btn-bottom-wrap">
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico toggleTrigger"><i class="i-reply"></i>답글 <b class="fc-blue1">2</b></button>
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
									</div>
									<!-- //좋아요 & 답글 -->

								</div>
								<!-- //댓글 출력 -->
								<ul class="dep02">
									<li>
										<!-- 댓글 출력 -->
										<div class="comment-inner">

											<!-- 사용자 -->
											<div class="user">

												<!-- 사용자 정보 -->
												<div class="left">
													<div class="name">정보시스템부 김신한책임</div>
													<div class="date">2024-05-02 15:00</div>
												</div>
												<!-- //사용자 정보 -->

											</div>
											<!-- //사용자 -->

											<!-- 댓글 내용 -->
											<div class="comment-cont">

												<!-- 공통 textarea -->
												<div class="comment-text">
													<div class="comment-text-inner">
														<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
														<div class="comment-text-btn-wrap">
															<div class="comment-text-btn-wrap-inner">
																<div class="left">
																	<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
																</div>
																<div class="right">
																	<label class="btn-large btn-secondary btn-inner-ico">
																		<input type="file" class="input-file">
																		<i class="i-attach"></i>파일첨부
																	</label>
																	<button type="button" class="btn-large btn-secondary">취소</button>
																	<button type="button" class="btn-large btn-primary">등록</button>
																</div>
															</div>
															<!-- 첨부파일 있을 경우 -->
															<div class="comment-attach-file">
																<ul class="attach-row-list">
																	<li>
																		<a href="#"><span>취약점진단.zip</span></a>
																		<button type="button" class="attach-remove" title="첨부파일 삭제"></button>
																	</li>
																</ul>
															</div>
															<!-- //첨부파일 있을 경우 -->
														</div>
													</div>
												</div>
												<!-- //공통 textarea -->

											</div>
											<!-- //댓글 내용 -->


											<!-- 좋아요 & 답글 -->
											<div class="comment-btn-wrap comment-btn-bottom-wrap">
												<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
											</div>
											<!-- //좋아요 & 답글 -->

										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- //comment-wrap -->

			</div>
		</div>
		<hr>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>댓글+답글 출력(닫힘+열림)</h2>
				<!-- comment-wrap -->
				<div class="comment-wrap">
					<div class="comment-title">
						<h3>댓글 <span>(15개)</span></h3>
						<div class="dropDown">
							<button type="button" class="trigger" aria-expanded="true">최신순</button>
							<ul class="target">
								<li class="is-selected"><button type="button">최신순</button></li>
								<li><button type="button">전체</button></li>
								<li><button type="button">전체</button></li>
							</ul>
						</div>
					</div>
					<div class="comment-text">
						<div class="comment-text-inner">
							<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력">등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등</textarea>
							<div class="comment-text-btn-wrap">
								<div class="comment-text-btn-wrap-inner">
									<div class="left">
										<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
									</div>
									<div class="right">
										<label class="btn-large btn-secondary btn-inner-ico">
											<input type="file" class="input-file">
											<i class="i-attach"></i>파일첨부
										</label>
										<button type="button" class="btn-large btn-secondary">취소</button>
										<button type="button" class="btn-large btn-primary">등록</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="comment-list">
						<ul class="dep01">
							<li class="toggleCont is-toggle">
								<div class="comment-inner">
									<div class="user">
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
										</div>
										<div class="right">
											<div class="comment-btn-wrap">
												<button type="button" class="btn-xsmall btn-secondary">수정</button>
												<button type="button" class="btn-xsmall btn-secondary">삭제</button>
												<button type="button" class="btn-xsmall btn-secondary">댓글</button>
											</div>
										</div>
									</div>
									<div class="comment-cont">
										<div class="comment-cont-inner">
											등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
											노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
										</div>
										<div class="comment-attach-file">
											<ul class="attach-row-list">
												<li>
													<a href="#"><span>취약점진단.zip</span></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="comment-btn-wrap comment-btn-bottom-wrap">
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico toggleTrigger"><i class="i-reply"></i>답글 <b class="fc-blue1">2</b></button>
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
									</div>
								</div>
								<ul class="dep02">
									<li>
										<div class="comment-text">
											<div class="comment-text-inner">
												<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
												<div class="comment-text-btn-wrap">
													<div class="comment-text-btn-wrap-inner">
														<div class="left">
															<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
														</div>
														<div class="right">
															<label class="btn-large btn-secondary btn-inner-ico">
																<input type="file" class="input-file">
																<i class="i-attach"></i>파일첨부
															</label>
															<button type="button" class="btn-large btn-secondary">취소</button>
															<button type="button" class="btn-large btn-primary">등록</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="comment-inner">
											<div class="user">
												<div class="left">
													<div class="name">정보시스템부 김신한책임</div>
													<div class="date">2024-05-02 15:00</div>
												</div>
												<div class="right">
													<div class="comment-btn-wrap">
														<button type="button" class="btn-xsmall btn-secondary">수정</button>
														<button type="button" class="btn-xsmall btn-secondary">삭제</button>
														<button type="button" class="btn-xsmall btn-secondary">댓글</button>
													</div>
												</div>
											</div>
											<div class="comment-cont">
												<div class="comment-cont-inner">
													등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
													노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
												</div>
												<div class="comment-attach-file">
													<ul class="attach-row-list">
														<li>
															<a href="#"><span>취약점진단.zip</span></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="comment-btn-wrap comment-btn-bottom-wrap">
												<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
											</div>
										</div>
									</li>
									<li>
										<div class="comment-inner">
											<div class="user">
												<div class="left">
													<div class="name">정보시스템부 김신한책임</div>
													<div class="date">2024-05-02 15:00</div>
												</div>
												<div class="right">
													<div class="comment-btn-wrap">
														<button type="button" class="btn-xsmall btn-secondary">수정</button>
														<button type="button" class="btn-xsmall btn-secondary">삭제</button>
														<button type="button" class="btn-xsmall btn-secondary">댓글</button>
													</div>
												</div>
											</div>
											<div class="comment-cont">
												<div class="comment-cont-inner">
													등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
													노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
												</div>
											</div>
											<div class="comment-btn-wrap comment-btn-bottom-wrap">
												<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<div class="comment-inner">
									<div class="user">
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
										</div>
										<div class="right">
											<div class="comment-btn-wrap">
												<button type="button" class="btn-xsmall btn-secondary">수정</button>
												<button type="button" class="btn-xsmall btn-secondary">삭제</button>
												<button type="button" class="btn-xsmall btn-secondary">댓글</button>
											</div>
										</div>
									</div>
									<div class="comment-cont">
										<div class="comment-cont-inner">
											등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이
											노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다. 등록한 댓글이 노출됩니다.
										</div>
										<div class="comment-attach-file">
											<ul class="attach-row-list">
												<li>
													<a href="#"><span>취약점진단.zip</span></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="comment-btn-wrap comment-btn-bottom-wrap">
										<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>150</button>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
				<!-- //comment-wrap -->

			</div>
		</div>
		<hr>
		<div class="column column-no-repeat">
			<div class="hr">
				<h2>수정완료 댓글삭제</h2>
				<!-- comment-wrap -->
				<div class="comment-wrap">
					<div class="comment-title">
						<h3>댓글 <span>(15개)</span></h3>
						<div class="dropDown">
							<button type="button" class="trigger" aria-expanded="true">최신순</button>
							<ul class="target">
								<li class="is-selected"><button type="button">최신순</button></li>
								<li><button type="button">전체</button></li>
								<li><button type="button">전체</button></li>
							</ul>
						</div>
					</div>
					<div class="comment-text">
						<div class="comment-text-inner">
							<textarea placeholder="댓글을 입력해 주세요" title="댓글 입력"></textarea>
							<div class="comment-text-btn-wrap">
								<div class="comment-text-btn-wrap-inner">
									<div class="left">
										<label class="inp"><input type="checkbox"><b>익명으로 등록하기</b></label>
									</div>
									<div class="right">
										<label class="btn-large btn-secondary btn-inner-ico">
											<input type="file" class="input-file">
											<i class="i-attach"></i>파일첨부
										</label>
										<button type="button" class="btn-large btn-secondary">취소</button>
										<button type="button" class="btn-large btn-primary">등록</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="comment-list">
						<ul class="dep01">
							<li class="toggleCont">
								<div class="comment-inner">
									<div class="user">
										<div class="left">
											<div class="name">정보시스템부 김신한책임</div>
											<div class="date">2024-05-02 15:00</div>
											<div class="modified">(수정됨)</div>
										</div>
										<div class="right">
											<div class="comment-btn-wrap">
												<button type="button" class="btn-xsmall btn-secondary">수정</button>
												<button type="button" class="btn-xsmall btn-secondary">삭제</button>
												<button type="button" class="btn-xsmall btn-secondary">댓글</button>
											</div>
										</div>
									</div>
									<div class="comment-cont">
										<div class="comment-cont-inner deleted">
											작성자에 의해 삭제되었습니다.
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
				<!-- //comment-wrap -->

			</div>
		</div>
	</div>


	<script>
		$('button:has(.i-like)').on('click', function() {
			$(this).toggleClass('is-like')
		})
	</script>
</body>

</html>