<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">

	<script src="../../resources/plugins/jquery/jquery.min.js"></script>
	<!-- [plugins] -->
	<!-- highlight -->
	<link rel="stylesheet" href="../../resources/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../resources/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../resources/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../resources/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../resources/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<link rel="stylesheet" href="../../resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../resources/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../resources/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/jquery-ui/jquery-ui.css">
	<script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- pinch-zoom -->
	<script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
	<!-- apexcharts -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css">
	<script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
	<!-- AOS -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/aos/3.0.0-beta.6/aos.css">
	<script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../resources/css/ui-fonts.css">
	<link rel="stylesheet" href="../../resources/css/ui-variable.css">
	<link rel="stylesheet" href="../../resources/css/ui-default.css">
	<link rel="stylesheet" href="../../resources/css/ui-layout.css">
	<link rel="stylesheet" href="../../resources/css/ui-style.css">
	<link rel="stylesheet" href="../../resources/css/ui-content.css">
	<link rel="stylesheet" href="../../resources/css/ui-plugins.css">
	<link rel="stylesheet" href="../../resources/css/ui-guide.css">

	<script src="../../resources/js/ui-script.js"></script>
	<script src="../../resources/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

	<style>
		.ui-guide .guide-column-list {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

		.ui-guide .guide-column-list i {
			zoom: 1.2;
			font-size: 10px;
		}
	</style>
</head>

<body>
	<div class="ui-guide">
		<h1>Alert</h1>
		<p>Modal Popup</p>

		<div class="ui-guide-section">
			<div class="ui-guide-box">
				<h2>Size</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48">48</i>
					<i class="icon-only icon-36">36</i>
					<i class="icon-only icon-32">32</i>
					<i class="icon-only icon-28">28</i>
					<i class="icon-only icon-24">24</i>
					<i class="icon-only icon-20">20</i>
					<i class="icon-only icon-14">14</i>
					<i class="icon-only icon-12">12</i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-info</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-info bg-icon-default"></i>
					<i class="icon-only icon-36 icon-info bg-icon-default"></i>
					<i class="icon-only icon-32 icon-info bg-icon-default"></i>
					<i class="icon-only icon-28 icon-info bg-icon-default"></i>
					<i class="icon-only icon-24 icon-info bg-icon-default"></i>
					<i class="icon-only icon-20 icon-info bg-icon-default"></i>
					<i class="icon-only icon-14 icon-info bg-icon-default"></i>
					<i class="icon-only icon-12 icon-info bg-icon-default"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-caution</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-caution bg-icon-gray_1"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-camera</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-camera bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-camera bg-icon-gray_1"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-phone</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-phone bg-status-active"></i>
					<i class="icon-only icon-36 icon-phone bg-status-active"></i>
					<i class="icon-only icon-32 icon-phone bg-status-active"></i>
					<i class="icon-only icon-28 icon-phone bg-status-active"></i>
					<i class="icon-only icon-24 icon-phone bg-status-active"></i>
					<i class="icon-only icon-20 icon-phone bg-status-active"></i>
					<i class="icon-only icon-14 icon-phone bg-status-active"></i>
					<i class="icon-only icon-12 icon-phone bg-status-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-sms</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-sms bg-status-active"></i>
					<i class="icon-only icon-36 icon-sms bg-status-active"></i>
					<i class="icon-only icon-32 icon-sms bg-status-active"></i>
					<i class="icon-only icon-28 icon-sms bg-status-active"></i>
					<i class="icon-only icon-24 icon-sms bg-status-active"></i>
					<i class="icon-only icon-20 icon-sms bg-status-active"></i>
					<i class="icon-only icon-14 icon-sms bg-status-active"></i>
					<i class="icon-only icon-12 icon-sms bg-status-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-mail</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-mail bg-status-active"></i>
					<i class="icon-only icon-36 icon-mail bg-status-active"></i>
					<i class="icon-only icon-32 icon-mail bg-status-active"></i>
					<i class="icon-only icon-28 icon-mail bg-status-active"></i>
					<i class="icon-only icon-24 icon-mail bg-status-active"></i>
					<i class="icon-only icon-20 icon-mail bg-status-active"></i>
					<i class="icon-only icon-14 icon-mail bg-status-active"></i>
					<i class="icon-only icon-12 icon-mail bg-status-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-call</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-call bg-status-active"></i>
					<i class="icon-only icon-36 icon-call bg-status-active"></i>
					<i class="icon-only icon-32 icon-call bg-status-active"></i>
					<i class="icon-only icon-28 icon-call bg-status-active"></i>
					<i class="icon-only icon-24 icon-call bg-status-active"></i>
					<i class="icon-only icon-20 icon-call bg-status-active"></i>
					<i class="icon-only icon-14 icon-call bg-status-active"></i>
					<i class="icon-only icon-12 icon-call bg-status-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-memo</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-memo bg-status-active"></i>
					<i class="icon-only icon-36 icon-memo bg-status-active"></i>
					<i class="icon-only icon-32 icon-memo bg-status-active"></i>
					<i class="icon-only icon-28 icon-memo bg-status-active"></i>
					<i class="icon-only icon-24 icon-memo bg-status-active"></i>
					<i class="icon-only icon-20 icon-memo bg-status-active"></i>
					<i class="icon-only icon-14 icon-memo bg-status-active"></i>
					<i class="icon-only icon-12 icon-memo bg-status-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-locked</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-locked bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-locked bg-icon-gray_1"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-fav</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-fav"></i>
					<i class="icon-only icon-36 icon-fav"></i>
					<i class="icon-only icon-32 icon-fav"></i>
					<i class="icon-only icon-28 icon-fav"></i>
					<i class="icon-only icon-24 icon-fav"></i>
					<i class="icon-only icon-20 icon-fav"></i>
					<i class="icon-only icon-14 icon-fav"></i>
					<i class="icon-only icon-12 icon-fav"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-fav-active</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-fav-active"></i>
					<i class="icon-only icon-36 icon-fav-active"></i>
					<i class="icon-only icon-32 icon-fav-active"></i>
					<i class="icon-only icon-28 icon-fav-active"></i>
					<i class="icon-only icon-24 icon-fav-active"></i>
					<i class="icon-only icon-20 icon-fav-active"></i>
					<i class="icon-only icon-14 icon-fav-active"></i>
					<i class="icon-only icon-12 icon-fav-active"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-fav-active2</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-fav-active2"></i>
					<i class="icon-only icon-36 icon-fav-active2"></i>
					<i class="icon-only icon-32 icon-fav-active2"></i>
					<i class="icon-only icon-28 icon-fav-active2"></i>
					<i class="icon-only icon-24 icon-fav-active2"></i>
					<i class="icon-only icon-20 icon-fav-active2"></i>
					<i class="icon-only icon-14 icon-fav-active2"></i>
					<i class="icon-only icon-12 icon-fav-active2"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-noresult</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-noresult bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-noresult bg-icon-gray_1"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-won</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-won bg-black-88"></i>
					<i class="icon-only icon-36 icon-won bg-black-88"></i>
					<i class="icon-only icon-32 icon-won bg-black-88"></i>
					<i class="icon-only icon-28 icon-won bg-black-88"></i>
					<i class="icon-only icon-24 icon-won bg-black-88"></i>
					<i class="icon-only icon-20 icon-won bg-black-88"></i>
					<i class="icon-only icon-14 icon-won bg-black-88"></i>
					<i class="icon-only icon-12 icon-won bg-black-88"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-percent</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-36 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-32 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-28 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-24 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-20 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-14 icon-percent bg-icon-default"></i>
					<i class="icon-only icon-12 icon-percent bg-icon-default"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-calculator</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-calculator bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-calculator bg-icon-gray_1"></i>
				</div>
			</div>
			<hr>
			<div class="ui-guide-box">
				<h2>icon-caution</h2>
				<div class="guide-column-list">
					<i class="icon-only icon-48 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-36 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-32 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-28 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-24 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-20 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-14 icon-caution bg-icon-gray_1"></i>
					<i class="icon-only icon-12 icon-caution bg-icon-gray_1"></i>
				</div>
			</div>

		</div>
	</div>
</body>


</html>