<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->

	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-variable.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>

	<div class="ui-guide">
		<h1>Modal</h1>
		<div class="ui-guide-section">
			<div class="guide-column-list">
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-layout">modal-layout</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-select">modal-select</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert">modal-alert (prevent close)</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert1">modal-alert1</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert2">modal-alert2</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert3">modal-alert3</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert4">modal-alert4</button>
				<button class="btn-large btn-outlined" data-micromodal-trigger="modal-alert5">modal-alert5</button>

			</div>
		</div>
	</div>


	<!-- micromodal -->
	<div class="micromodal-slide micromodal-slide-bottom modal" id="modal-layout">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true">

				<div class="modal__header">
					<strong class="modal__title title-large">명함 순서 설정</strong>
					<button type="button" class="modal__close" aria-label="팝업 닫기" data-micromodal-close></button>
				</div>
				<div class="modal__content">

					<div class="content">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus autem consequatur iusto delectus facere, corporis ut culpa atque, omnis placeat dolorem rem repellendus eligendi tempore, reprehenderit neque alias sequi.
					</div>

				</div>
				<div class="modal__footer">
					<!-- bottom-btn -->
					<div class="bottom-btn">
						<div class="btn-wrap">
							<button type="button" class="btn-large btn-primary" data-micromodal-close>저장</button>
						</div>
					</div>
					<!-- //bottom-btn -->
				</div>
			</div>
		</div>
	</div>
	<!-- //micromodal -->




	<!-- micromodal -->
	<div class="micromodal-slide micromodal-slide-bottom modal" id="modal-select">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true">

				<div class="modal__header modal__header__alert">
					<strong class="modal__title title-large j-start">필터</strong>
					<button type="button" class="modal__close" aria-label="팝업 닫기" data-micromodal-close></button>
				</div>
				<div class="modal__content">
					<div class="content content-fluid">
						<div class="select-option">
							<ul>
								<li class="select-all"><button type="button"><span>전체</span><i class="badge">10</i></button></li>
								<li><button type="button"><span>키맨</span><i class="badge">2</i></button></li>
								<li><button type="button"><span>내가 등록한 명함</span><i class="badge">5</i></button></li>
								<li><button type="button"><span>내가 등록한 명함 내가 등록한 명함 내가 등록한 명함 내가 등록한 명함</span><i class="badge">5</i></button></li>
								<li class="select-active"><button type="button" aria-label="선택됨"><span>PB 1팀</span><i class="badge">3</i></button></li>
								<li class="select-active"><button type="button" aria-label="선택됨"><span>내가 등록한 명함 내가 등록한 명함 내가 등록한 명함 내가 등록한 명함</span><i class="badge">3</i></button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //micromodal -->

	<!-- micromodal -->
	<div class="micromodal-slide micromodal-slide-bottom modal" id="modal-alert">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__container" role="dialog" aria-modal="true">

				<div class="modal__header modal__header__alert">
				</div>
				<div class="modal__content modal__content__alert">
					<div class="content">
						<p class="body-large">텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트 텍스트</p>
					</div>
				</div>
				<div class="modal__footer modal__footer_alert">
					<!-- bottom-btn -->
					<div class="bottom-btn">
						<div class="btn-wrap">
							<button type="button" class="btn-large btn-primary" data-micromodal-close>저장</button>
						</div>
					</div>
					<!-- //bottom-btn -->
				</div>
			</div>
		</div>
	</div>
	<!-- //micromodal -->

	<script>
		// toast
		function toast_succes() {
			toastr.success('', '저장되었습니다.')
		}
	</script>
</body>

</html>