<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">

	<script src="../../resources/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- highlight -->
	<link rel="stylesheet" href="../../resources/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../resources/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../resources/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../resources/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../resources/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<link rel="stylesheet" href="../../resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../resources/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../resources/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/jquery-ui/jquery-ui.css">
	<script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- pinch-zoom -->
	<script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
	<!-- apexcharts -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css">
	<script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
	<!-- AOS -->
	<link rel="stylesheet" type="text/css" href="../../resources/plugins/aos/3.0.0-beta.6/aos.css" />
	<script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../resources/css/ui-fonts.css">
	<link rel="stylesheet" href="../../resources/css/ui-variable.css">
	<link rel="stylesheet" href="../../resources/css/ui-default.css">
	<link rel="stylesheet" href="../../resources/css/ui-layout.css">
	<link rel="stylesheet" href="../../resources/css/ui-style.css">
	<link rel="stylesheet" href="../../resources/css/ui-content.css">
	<link rel="stylesheet" href="../../resources/css/ui-plugins.css">
	<link rel="stylesheet" href="../../resources/css/ui-guide.css">

	<script src="../../resources/js/ui-script.js"></script>
	<script src="../../resources/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>

	<div class="ui-guide">
		<h1>Modal</h1>
		<div class="ui-guide-section">
			<div class="guide-column-list">
				<a href="#" class="btn-large btn-outlined" data-micromodal-trigger="modal-datepicker-year">modal-datepicker-year</a>

			</div>
		</div>
	</div>



	<!-- micromodal -->
	<div class="micromodal-slide micromodal-slide-bottom modal" id="modal-datepicker-year" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true">

				<div class="modal__header">
					<strong class="modal__title title-large"></strong>
					<button type="button" class="modal__close" aria-label="팝업 닫기" data-micromodal-close></button>
				</div>
				<div class="modal__content">

					<div class="content">
						<div class="datepicker-wrap pt16">
							<div class="year">
								<div class="swiper swiper-year">
									<!-- Additional required wrapper -->
									<div class="swiper-wrapper">
										<!-- Slides -->
										<div class="swiper-slide">2023</div>
										<div class="swiper-slide">2024</div>
										<div class="swiper-slide">2025</div>
										<div class="swiper-slide">2026</div>
										<div class="swiper-slide">2027</div>
									</div>
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
							<div class="month">
								<button type="button" class="btn-small btn-outlined btn-round">1</button>
								<button type="button" class="btn-small btn-outlined btn-round">2</button>
								<button type="button" class="btn-small btn-outlined btn-round">3</button>
								<button type="button" class="btn-small btn-outlined btn-round">4</button>
								<button type="button" class="btn-small btn-outlined btn-round">5</button>
								<button type="button" class="btn-small btn-outlined btn-round">6</button>
								<button type="button" class="btn-small btn-outlined btn-round">7</button>
								<button type="button" class="btn-small btn-outlined btn-round">8</button>
								<button type="button" class="btn-small btn-outlined btn-round">9</button>
								<button type="button" class="btn-small btn-outlined btn-round">10</button>
								<button type="button" class="btn-small btn-outlined btn-round">11</button>
								<button type="button" class="btn-small btn-outlined btn-round">12</button>
							</div>
							<div class="stroke my24"></div>
							<p class="description info body-small fc-typography-caption">대상기간은 전월/전전월 기준 1년 이내만 가능합니다.</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- //micromodal -->


	<script>
		const newSwiper = new Swiper('.year .swiper', {
			spaceBetween: 1,
			observer: true,
			navigation: {
				nextEl: '.year .swiper-button-next',
				prevEl: '.year .swiper-button-prev',
			},
		});
	</script>

</body>

</html>