<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->

	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-variable.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>

	<div>
		<h1>input</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요">
				<br>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" value="Biz 용어 입력">
			</div>
			<div class="hr">
				<h2>Readonly</h2>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" readonly>
				<br>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" readonly value="Biz 용어 입력">
			</div>
			<div class="hr">
				<h2>Disabled</h2>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" disabled>
				<br>
				<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" disabled value="Biz 용어 입력">
			</div>
			<div class="hr">
				<h2>Search</h2>
				<input type="search" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요">
				<br>
				<input type="search" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요" value="Biz 용어 입력">
			</div>
			<div class="hr">
				<h2>Number</h2>
				<input type="number" min="0" max="10" title="">
				<br>
				<input type="number" min="0" max="10" title="" value="10">
			</div>
			<div class="hr">
				<h2>Date</h2>
				<input type="text" title="" data-datepicker>
				<br>
				<input type="text" title="" data-datepicker value="2024-05-20">
			</div>
			<div class="hr">
				<h2>Time</h2>
				<input type="time" title="">
				<br>
				<input type="time" title="" value="13:30">
			</div>
			<div class="hr">
				<h2>Date & Time</h2>
				<input type="datetime-local" title="">
				<br>
				<input type="datetime-local" title="" value="2024-05-20T13:30">
			</div>
		</div>
		<div class="column mt20">
			<div class="hr">
				<h2 class="fc-orange">Variation</h2>

			</div>
		</div>
		<hr>
		<h1>Textarea</h1>

		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요"></textarea>
				<br>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요">Biz 용어 입력</textarea>
			</div>
			<div class="hr">
				<h2>Readonly</h2>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요" readonly></textarea>
				<br>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요" readonly>Biz 용어 입력</textarea>
			</div>
			<div class="hr">
				<h2>Disabled</h2>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요" disabled></textarea>
				<br>
				<textarea placeholder="내용을 입력해 주세요" title="내용을 입력해 주세요" disabled>Biz 용어 입력</textarea>
			</div>
		</div>
		<hr>

		<h1>Select</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<select title="선택">
					<option value="전체">전체</option>
					<option value="제목">제목</option>
					<option value="내용">내용</option>
				</select>
				<br>
				<select title="선택">
					<option value="전체">전체</option>
					<option value="제목" selected>제목</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
					<option value="내용">내용</option>
				</select>
			</div>
			<div class="hr">
				<h2>Disabled</h2>
				<select title="선택" disabled>
					<option value="전체">전체</option>
					<option value="제목">제목</option>
					<option value="내용">내용</option>
				</select>
				<br>
				<select title="선택" disabled>
					<option value="전체">전체</option>
					<option value="제목" selected>제목</option>
					<option value="내용">내용</option>
				</select>
			</div>
		</div>


		<h1>Form</h1>
		<div class="column">
			<div class="hr">
				<div class="form">
					<select name="" id="">
						<option value="선택안함">선택안함</option>
					</select>
				</div>
				<div class="form">
					<input type="text" placeholder="검색어를 입력해 주세요" title="검색어를 입력해 주세요">
				</div>
				<div class="form">
					<input type="date">
					<div class="bul">~</div>
					<input type="date">
				</div>
				<div class="form">
					<div class="input-wrap">
						<input type="text" value="" placeholder="검색어를 입력해 주세요">
						<button type="button" class="form-btn form-search" title="검색"></button>
					</div>
				</div>
				<div class="form">
					<div class="input-wrap">
						<input type="text" title="댓글 입력" placeholder="댓글을 입력해 주세요">
						<button type="button" class="form-btn form-send" title="전송"></button>
					</div>
				</div>
				<div class="form">
					<div class="input-wrap">
						<input type="text" value="케이티">
						<button type="button" class="form-btn form-delete" title="검색어 삭제"></button>
					</div>
				</div>

				<div class="form">
					<div class="input-wrap">
						<input type="text" value="" title="문항" placeholder="1. 문항">
						<button type="button" class="form-btn form-attach" title="검색"></button>
					</div>
				</div>
				<div class="form">
					<div class="input-wrap input-wrap-btn2">
						<input type="text" value="" title="문항" placeholder="1. 문항">
						<label for="file-attach" class="form-btn form-attach" title="첨부파일">
							<input type="file" id="file-attach">
						</label>
						<button type="button" class="form-btn form-delete" title="항목 삭제"></button>
					</div>
				</div>
				<div class="form">
					<input type="file" id="file-attach01" class="inp-file" title="파일 업로드">
				</div>
			</div>
		</div>

		<h1>Checkbox</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<label class="inp"><input type="checkbox"><b>Checkbox</b></label>
				<label class="inp"><input type="checkbox" checked><b>Checkbox</b></label>
			</div>
			<div class="hr">
				<h2>Disabled</h2>
				<label class="inp"><input type="checkbox" disabled><b>Checkbox</b></label>
				<label class="inp"><input type="checkbox" disabled checked><b>Checkbox</b></label>
			</div>
			<div class="hr">
				<h2>form-list</h2>
				<div class="form-list">
					<label class="inp"><input type="checkbox"><b>Checkbox</b></label>
					<label class="inp"><input type="checkbox"><b>Checkbox</b></label>
					<label class="inp"><input type="checkbox"><b>Checkbox</b></label>
				</div>
			</div>
		</div>

		<h1>Radio</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<label class="inp"><input type="radio" name="rad001"><b>radio</b></label>
				<label class="inp"><input type="radio" name="rad001" checked><b>radio</b></label>
			</div>
			<div class="hr">
				<h2>Disabled</h2>
				<label class="inp"><input type="radio" name="rad002" disabled><b>radio</b></label>
				<label class="inp"><input type="radio" name="rad002" disabled checked><b>radio</b></label>
			</div>
			<div class="hr">
				<h2>form-list</h2>
				<div class="form-list">
					<label class="inp"><input type="radio"><b>radio</b></label>
					<label class="inp"><input type="radio"><b>radio</b></label>
					<label class="inp"><input type="radio"><b>radio</b></label>
				</div>
			</div>
		</div>

		<h1>inp-btn</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<div class="d-flex gap10">
					<label class="inp-btn"><input type="checkbox" name="inp-btn001"><b>Checkbox</b></label>
					<label class="inp-btn"><input type="checkbox" name="inp-btn001"><b>Checkbox</b></label>
				</div>
			</div>
		</div>

		<h1>inp-box</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<div class="d-flex gap10">
					<label class="inp-box"><input type="radio" name="inp-btn001"><b>radio</b></label>
					<label class="inp-box"><input type="radio" name="inp-btn001"><b>radio</b></label>
				</div>
			</div>
		</div>

		<h1>Radio Switch</h1>
		<div class="column">
			<div class="hr">
				<h2>Default</h2>
				<label class="inp-switch"><b>테마변경</b><input type="checkbox" name="inp-switch001"></label>
				<label class="inp-switch"><b>대직자설정</b><input type="checkbox" name="inp-switch001"></label>
			</div>
		</div>



	</div>

	<hr>
	<!-- a link tippy -->
	<script>
		const tippyTooltip = document.querySelectorAll('.alarm-list strong.ellipsis')
		tippyTooltip.forEach(function(el, index) {
			const tippyToolTipContent = el.innerText;
			tippy(el, {
				content: tippyToolTipContent,
				allowHTML: true,
				theme: 'link',
				placement: 'top-start',
			});
		})
	</script>
	<script>
		$(function() {
			$("[data-datepicker]").datepicker({
				// showOn: 'button',
				dateFormat: 'yy-mm-dd',
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				showMonthAfterYear: true,
				yearSuffix: '년'
			});
		});
	</script>
</body>

</html>