<!DOCTYPE html>
<html lang="ko">

<head>
	<title>신한투자증권프로젝트메타</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<!-- ui source -->
	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-darkmode.css" id="stylesheet-darkmode" disabled>
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>
	<div>
		<label class="inp-switch gap10 d-inflex">
			<b>테마변경</b>
			<span class="theme-switch">
				<input type="checkbox" id="themeSelector">
				<span class="theme-input-white"><span class="blind">화이트모드</span></span>
				<span class="theme-input-dark"><span class="blind">다크모드</span></span>
			</span>
		</label>
	</div>
	<div>
		<h1>Button</h1>
		<div class="column">
			<div class="hr">
				<h2>Size</h2>
				<a href="#" class="btn-large btn-primary">용어등록</a>
				<a href="#" class="btn-xsmall btn-primary">용어등록</a>

			</div>
			<div class="hr">
				<h2>color</h2>
				<div class="d-flex gap-8">
					<button type="button" class="btn-large btn-primary">용어등록</button>
					<button type="button" class="btn-large btn-secondary">용어등록</button>
					<button type="button" class="btn-large btn-tertiary">용어등록</button>
					<button type="button" class="btn-large btn-gray">용어등록</button>
				</div>
			</div>
			<div class="hr">
				<h2>disabled</h2>
				<div class="d-flex gap-8">
					<button type="button" class="btn-large btn-primary" disabled>용어등록</button>
					<button type="button" class="btn-large btn-secondary" disabled>용어등록</button>
					<button type="button" class="btn-large btn-tertiary" disabled>용어등록</button>
				</div>
			</div>
		</div>

		<h1>Align</h1>
		<div class="column">
			<div class="hr">
				<h2>Center</h2>
				<!-- btn-wrap -->
				<div class="btn-wrap">
					<div class="center">
						<a href="#" class="btn-large btn-primary">용어등록</a>
						<a href="#" class="btn-large btn-secondary">닫기</a>
						<a href="#" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</a>
					</div>
				</div>
				<!-- //btn-wrap -->
			</div>
			<div class="hr">
				<h2>Left</h2>
				<!-- btn-wrap -->
				<div class="btn-wrap">
					<div class="left">
						<a href="#" class="btn-large btn-primary">용어등록</a>
						<a href="#" class="btn-large btn-secondary">닫기</a>
						<a href="#" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</a>
					</div>
				</div>
				<!-- //btn-wrap -->
			</div>
			<div class="hr">
				<h2>Right</h2>
				<!-- btn-wrap -->
				<div class="btn-wrap">
					<div class="right">
						<a href="#" class="btn-large btn-primary">용어등록</a>
						<a href="#" class="btn-large btn-secondary">닫기</a>
						<a href="#" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</a>
					</div>
				</div>
				<!-- //btn-wrap -->
			</div>
		</div>

		<h1>Icons</h1>
		<div class="column column-no-repeat">
			<div class="hr">
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-refresh"></i>초기화</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-attach"></i>파일첨부</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-delete"></i>삭제하기</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-download"></i>엑셀다운로드</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-modify"></i>수정</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-search"></i>검색</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-plus"></i>추가</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico"><i class="i-except"></i>제외</button>
				<br>

				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-refresh"></i>초기화</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-attach"></i>파일첨부</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-delete"></i>삭제하기</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-download"></i>엑셀다운로드</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-modify"></i>수정</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-search"></i>검색</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-plus"></i>추가</button>
				<button type="button" class="btn-large btn-secondary btn-inner-ico" disabled><i class="i-except"></i>제외</button>

				<br>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-reply"></i>답글 <b class="fc-blue1">2</b></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-search"></i>검색</button>
				<br>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico" disabled><i class="i-reply"></i>답글 <b class="fc-blue1">2</b></button>
				<br>

				<button type="button" class="btn-xsmall btn-gray btn-inner-ico btn-ratio"><i class="i-plus"></i><span class="blind">추가</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-minus"></i><span class="blind">삭제</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-up"></i><span class="blind">위로 이동</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-down"></i><span class="blind">아래로 이동</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-auth"></i><span class="blind">권한</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-share"></i><span class="blind">공유</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-detail"></i><span class="blind">상세정보</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-moveup"></i><span class="blind">상위로</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-erase"></i><span class="blind">내역삭제</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-delete"></i><span class="blind">삭제</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-refresh"></i><span class="blind">새로고침</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-modify"></i><span class="blind">수정</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-result"></i><span class="blind">결과확인</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-regist"></i><span class="blind">UAT등록</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-cancel-sub"></i><span class="blind">구독취소</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-cancel-alarm"></i><span class="blind">알림취소</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-arrow"></i><span class="blind">오른쪽으로 이동</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-arrow-left"></i><span class="blind">왼쪽으로 이동</span></button>

				<br>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico"><i class="i-like"></i><span class="blind">좋아요</span>0</button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico is-like"><i class="i-like"></i><span class="blind">좋아요 활성화됨</span>0</button>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-heart"></i><span class="blind">좋아요</span>0</button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-heart"><i class="i-heart"></i><span class="blind">좋아요 활성화됨</span>999+</button>
				<span class="d-inflex bg-red">
					<button type="button" class="btn-xsmall btn-inner-ico btn-ratio"><i class="i-heart"></i><span class="blind">좋아요</span></button>
					<button type="button" class="btn-xsmall btn-inner-ico btn-ratio is-heart"><i class="i-heart"></i><span class="blind">좋아요 활성화됨</span></button>
				</span>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-grid"></i><span class="blind">카드 형식</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-grid"><i class="i-grid"></i><span class="blind">카드 형식 활성화됨</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-column"></i><span class="blind">리스트 형식</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-column"><i class="i-column"></i><span class="blind">리스트 형식 활성화됨</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-favorite"></i><span class="blind">즐겨찾기</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-favorite"><i class="i-favorite"></i><span class="blind">즐겨찾기 활성화됨</span></button>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-disconnect"></i><span class="blind">해제</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-disconnect"><i class="i-disconnect"></i><span class="blind">해제됨</span></button>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-recommend"></i><span class="blind">추천</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-recommend"><i class="i-recommend"></i><span class="blind">추천함</span></button>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-connect"></i><span class="blind">적용</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-connect"><i class="i-connect"></i><span class="blind">적용됨</span></button>

				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio"><i class="i-menu"></i><span class="blind">상세정보 열기</span></button>
				<button type="button" class="btn-xsmall btn-secondary btn-inner-ico btn-ratio is-menu"><i class="i-menu"></i><span class="blind">상세정보 닫기</span></button>

				<br>

				<div class="d-flex gap10">
					<div class="btn-search-wrap"><a href="#">BI보고서</a><button type="button"><i class="blind">검색어 삭제</i></button></div>
				</div>
			</div>
		</div>


	</div>

	<hr>

</body>

</html>