<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="../../assets/plugins/jquery/jquery.min.js"></script>

	<!-- [plugins] -->
	<!-- dropzone -->
	<link rel="stylesheet" href="../../assets/plugins/dropzone/5.9.3/dropzone.min.css">
	<script src="../../assets/plugins/dropzone/5.9.3/dropzone.min.js"></script>
	<!-- highlight -->
	<link rel="stylesheet" href="../../assets/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="../../assets/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="../../assets/plugins/quill/2.0.2/quill.snow.css">
	<script src="../../assets/plugins/quill/2.0.2/quill.js"></script>
	<script src="../../assets/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->

	<link rel="stylesheet" href="../../assets/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="../../assets/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="../../assets/plugins/micromodal/0.4.10/micromodal.css">
	<script src="../../assets/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="../../assets/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="../../assets/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="../../assets/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="../../assets/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="../../assets/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/toastr/2.1.4/toastr.min.css">
	<script src="../../assets/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="../../assets/plugins/jquery-ui/jquery-ui.css">
	<script src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="../../assets/css/ui-fonts.css">
	<link rel="stylesheet" href="../../assets/css/ui-variable.css">
	<link rel="stylesheet" href="../../assets/css/ui-default.css">
	<link rel="stylesheet" href="../../assets/css/ui-layout.css">
	<link rel="stylesheet" href="../../assets/css/ui-style.css">
	<link rel="stylesheet" href="../../assets/css/ui-content.css">
	<link rel="stylesheet" href="../../assets/css/ui-plugins.css">
	<link rel="stylesheet" href="../../assets/css/ui-guide.css">

	<script src="../../assets/js/ui-script.js"></script>
	<script src="../../assets/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->

</head>

<body>

	<div>
		<h1>section</h1>
		<div class="column">

			<h2>business-section</h2>
			<!-- business-section -->
			<div class="business-section">
				<label for="img-picture">
					<input type="file" id="img-picture">
					<picture>
						<source srcset="../../assets/images/section/user-photo-default.png">
						<img class="img-cover" src="../../assets/images/section/user-photo-default.png" alt="">
					</picture>
				</label>
				<dl>
					<dt>김비즈 책임</dt>
					<dd>그룹웨어팀</dd>
				</dl>
			</div>
			<!-- //business-section -->


			<h2>datepicker-section</h2>
			<!-- datepicker-section -->
			<div class="datepicker-section">
				<button type="button" class="chevron-30 chevron-left"><span class="blind">이전 년도</span></button>
				<strong>2024</strong>
				<button type="button" class="chevron-30"><span class="blind">다음 년도</span></button>
			</div>
			<!-- datepicker-section -->


			<h2>commute-section</h2>
			<!-- commute-section -->
			<div class="commute-section">
				<table>
					<colgroup>
						<col style="width:35%">
						<col>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr>
							<th scope="col">일자</th>
							<th scope="col">출근</th>
							<th scope="col">퇴근</th>
							<th scope="col">비고</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">2024. 05.01 (수)</th>
							<td>12:43</td>
							<td>12:43</td>
							<td>-</td>
						</tr>
						<tr>
							<th scope="row">2024. 05.02 (목)</th>
							<td>12:43</td>
							<td>12:43</td>
							<td>-</td>
						</tr>
						<tr>
							<th scope="row">2024. 05.03 (금)</th>
							<td>12:43</td>
							<td>12:43</td>
							<td>-</td>
						</tr>
						<tr class="sat">
							<th scope="row">2024. 05.04 (토)</th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr class="sun">
							<th scope="row">2024. 05.05 (일)</th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th scope="row">2024. 05.06 (월)</th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th scope="row">2024. 05.07 (화)</th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //commute-section -->

			<h2>band-section</h2>
			<!-- band-section -->
			<div class="band-section">
				<ul>
					<li>
						<a href="#" class="pic">
							<picture>
								<source srcset="../../assets/@temp/6a59d0ced279c734c830919ba4c6bdb1.jfif">
								<img class="img-cover" src="../../assets/@temp/6a59d0ced279c734c830919ba4c6bdb1.jfif" alt="">
							</picture>
						</a>
						<div class="band-info">
							<strong>밴드1</strong>
							<em>
								<i>
									<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
										<path d="M6.5 9V11.5M3 9H10V8.12C9.9999 7.93396 9.94791 7.75163 9.84986 7.59352C9.75181 7.43541 9.61161 7.30779 9.445 7.225L8.555 6.775C8.38839 6.69221 8.24819 6.56459 8.15014 6.40648C8.05209 6.24837 8.0001 6.06604 8 5.88V3.5H8.5C8.76522 3.5 9.01957 3.39464 9.20711 3.20711C9.39464 3.01957 9.5 2.76522 9.5 2.5C9.5 2.23478 9.39464 1.98043 9.20711 1.79289C9.01957 1.60536 8.76522 1.5 8.5 1.5H4.5C4.23478 1.5 3.98043 1.60536 3.79289 1.79289C3.60536 1.98043 3.5 2.23478 3.5 2.5C3.5 2.76522 3.60536 3.01957 3.79289 3.20711C3.98043 3.39464 4.23478 3.5 4.5 3.5H5V5.88C4.9999 6.06604 4.94791 6.24837 4.84986 6.40648C4.75181 6.56459 4.61161 6.69221 4.445 6.775L3.555 7.225C3.38839 7.30779 3.24819 7.43541 3.15014 7.59352C3.05209 7.75163 3.0001 7.93396 3 8.12V9Z" stroke="#8C959F" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</i>
								<span><b>1</b> Members</span>
							</em>
						</div>
					</li>
				</ul>
			</div>
			<!-- //band-section -->

			<h2>schedule-section</h2>
			<!-- schedule-section -->
			<div class="schedule-section">
				<ul>
					<li class="allday">
						<dl>
							<dt>종일</dt>
							<dd>휴가</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>8:00</dt>
							<dd class="type01">중요</dd>
							<dd></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>9:00</dt>
							<dd></dd>
							<dd class="type02">미팅</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>10:00</dt>
							<dd class="type03">휴가</dd>
							<dd></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>11:00</dt>
							<dd class="type04">출장</dd>
							<dd></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>12:00</dt>
							<dd class="type05">영업활동</dd>
							<dd></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>13:00</dt>
							<dd class="type06">연차</dd>
							<dd></dd>
						</dl>
					</li>
				</ul>
			</div>
			<!-- //band-section -->

			<!-- info-list -->
			<ul class="info-list">
				<li>제한 용량:2MByte</li>
				<li>Image 파일 가로 길이: 1200Pixel</li>
				<li>Thumb Image 생성 가로 길이 : 300Pixel</li>
			</ul>
			<!-- //info-list -->



		</div>
	</div>

</body>

</html>