<!DOCTYPE html>
<html lang="ko">

<head>
	<title>자산관리 영업지원 App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">

	<script src="/resources/plugins/jquery/jquery.min.js"></script>
	<!-- [plugins] -->
	<!-- highlight -->
	<link rel="stylesheet" href="/resources/plugins/highlight.js/11.9.0/styles/vs2015.min.css">
	<script src="/resources/plugins/highlight.js/11.9.0/highlight.min.js"></script>
	<link rel="stylesheet" href="/resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<!-- quill -->
	<link rel="stylesheet" href="/resources/plugins/quill/2.0.2/quill.snow.css">
	<script src="/resources/plugins/quill/2.0.2/quill.js"></script>
	<script src="/resources/plugins/quill/quill-resize-module/quill-resize-module.min.js"></script>
	<!-- jstree -->
	<link rel="stylesheet" href="/resources/plugins/jstree/3.3.16/themes/default/style.min.css">
	<script src="/resources/plugins/jstree/3.3.16/jstree.min.js"></script>
	<!-- micromodal -->
	<link rel="stylesheet" href="/resources/plugins/micromodal/0.4.10/micromodal.css">
	<script src="/resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
	<!-- sortable -->
	<script src="/resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
	<!-- sweetalert2 -->
	<link rel="stylesheet" href="/resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css">
	<script src="/resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="/resources/plugins/swiper/11.1.1/swiper-bundle.min.css">
	<script src="/resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
	<!-- tippy -->
	<script src="/resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="/resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="/resources/plugins/toastr/2.1.4/toastr.min.css">
	<script src="/resources/plugins/toastr/2.1.4/toastr.min.js"></script>
	<!-- jquery-ui -->
	<link rel="stylesheet" type="text/css" href="/resources/plugins/jquery-ui/jquery-ui.css">
	<script src="/resources/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- pinch-zoom -->
	<script src="/resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
	<!-- apexcharts -->
	<link rel="stylesheet" type="text/css" href="/resources/plugins/apexcharts/3.50.0/apexcharts.css">
	<script src="/resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
	<!-- AOS -->
	<link rel="stylesheet" type="text/css" href="/resources/plugins/aos/3.0.0-beta.6/aos.css">
	<script src="/resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
	<!-- jquery-ui-monthpicker-master -->
	<script src="/resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
	<!-- jquery-touchSwipe -->
	<script src="/resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
	<!-- //[plugins] -->

	<link rel="stylesheet" href="/resources/css/ui-fonts.css">
	<link rel="stylesheet" href="/resources/css/ui-variable.css">
	<link rel="stylesheet" href="/resources/css/ui-default.css">
	<link rel="stylesheet" href="/resources/css/ui-layout.css">
	<link rel="stylesheet" href="/resources/css/ui-style.css">
	<link rel="stylesheet" href="/resources/css/ui-content.css">
	<link rel="stylesheet" href="/resources/css/ui-plugins.css">
	<link rel="stylesheet" href="/resources/css/ui-guide.css">

	<script src="/resources/js/ui-script.js"></script>
	<script src="/resources/js/ui-temp.js"></script> <!-- 개발서버에서 include 제외해주세요 -->
	<!-- //ui source -->
	<style>
		.scroll-container {
			height: 400px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
			border-radius: 4px;
			overflow-y: scroll;
			scroll-snap-type: y mandatory;
			overscroll-behavior-y: none;
		}

		/* items inside scroll container */
		.scroll-items {
			/* sizing and layout */
			width: 90%;
			flex: 0 0 100px;
			box-sizing: border-box;
			padding-inline: 20px;
			border-radius: inherit;
			/* paint and font */
			background: linear-gradient(to right, rgb(242 194 66), rgb(235 122 51));
			font: 16px;
			color: white;

			scroll-snap-align: center;
			pointer-events: none;

		}

		.scroll-items:first-of-type {
			margin-block-start: var(--topBit);
		}

		.scroll-items:last-of-type {
			margin-block-end: var(--topBit);
		}

		input {
			appearance: none;
		}

		span {
			/* contains airport code */
			float: right;
		}

		.scroll-items:has(:checked) {
			/* if radio checked */
			background: rgb(229 50 34);
		}

		h1 {
			font-size: 18pt;
		}
	</style>
</head>

<body>
	<section class=scroll-container>
		<label class=scroll-items>Madrid <span>MAD</span><input type=radio name=items /></label>
		<label class=scroll-items>Malta <span>MLA</span><input type=radio name=items /></label>
		<label class=scroll-items>Manchester <span>MAN</span><input type=radio name=items /></label>
		<label class=scroll-items>Manilla <span>MNL</span><input type=radio name=items /></label>
		<label class=scroll-items>Marseille <span>MRS</span><input type=radio name=items /></label>
		<label class=scroll-items>Mauritius <span>MRU</span><input type=radio name=items /></label>
		<label class=scroll-items>Medford <span>MFR</span><input type=radio name=items /></label>
		<label class=scroll-items>Medina <span>MED</span><input type=radio name=items /></label>
		<label class=scroll-items>Melbourne <span>MEL</span><input type=radio name=items /></label>
		<label class=scroll-items>Memphis <span>MEM</span><input type=radio name=items /></label>
		<label class=scroll-items>Miami <span>MIA</span><input type=radio name=items /></label>
		<label class=scroll-items>Milan <span>MXP</span><input type=radio name=items /></label>
		<label class=scroll-items>Mildura <span>MQL</span><input type=radio name=items /></label>
		<label class=scroll-items>Milwaukee <span>MKE</span><input type=radio name=items /></label>
		<label class=scroll-items>Missoula <span>MSO</span><input type=radio name=items /></label>
		<label class=scroll-items>Moline <span>MLI</span><input type=radio name=items /></label>
		<label class=scroll-items>Monterey <span>MRY</span><input type=radio name=items /></label>
		<label class=scroll-items>Montpellier <span>MPL</span><input type=radio name=items /></label>
		<label class=scroll-items>Montrose <span>MTJ</span><input type=radio name=items /></label>
		<label class=scroll-items>Mulhouse <span>MLH</span><input type=radio name=items /></label>
		<label class=scroll-items>Munich <span>MUC</span><input type=radio name=items /></label>
		<label class=scroll-items>Muscat <span>MCT</span><input type=radio name=items /></label>
		<label class=scroll-items>Myrtle Beach <span>MYR</span><input type=radio name=items /></label>
	</section>
	<script>
		let observer = new IntersectionObserver(entries => {
			entries.forEach(entry => {
				with(entry) if (isIntersecting) target.children[1].checked = true;
			});
		}, {
			root: document.querySelector(`.scroll-container`),
			rootMargin: `-51% 0px -49% 0px`
		});
		document.querySelectorAll(`.scroll-items`).forEach(item => observer.observe(item));
	</script>
</body>

</html>