@charset "utf-8";
:root{
    --black-0:#0C0C0D;
    --black-100:#0C0C0D;
    --black-12:#0C0C0D1F;
    --black-16:#0C0C0D29;
    --black-20:#0C0C0D33;
    --black-24:#0C0C0D3D;
    --black-32:#0C0C0D52;
    --black-4:#0C0C0D0A;
    --black-40:#0C0C0D66;
    --black-56:#0C0C0D8F;
    --black-60:#0C0C0D99;
    --black-72:#0C0C0DB8;
    --black-8:#0C0C0D14;
    --black-80:#0C0C0DCC;
    --black-88:#0C0C0DE0;
    --black-96:#0C0C0DF5;
    --blue-100:#D1EAFF;
    --blue-200:#90C9FD;
    --blue-300:#5BABFB;
    --blue-400:#3996F9;
    --blue-50:#EAF4FF;
    --blue-500:#2589F4;
    --blue-600:#0871F3;
    --blue-700:#1563C1;
    --blue-800:#1759B0;
    --blue-900:#174A92;
    --cyan-100:#CBEEF6;
    --cyan-200:#91D2E1;
    --cyan-300:#64BFD4;
    --cyan-400:#46B6CF;
    --cyan-50:#E0F6FB;
    --cyan-500:#1AA3C1;
    --cyan-600:#1B91AC;
    --cyan-700:#1B849B;
    --cyan-800:#187388;
    --cyan-900:#146274;
    --deepblue-100:#CFDEFC;
    --deepblue-200:#A7BFFB;
    --deepblue-300:#7A9EFA;
    --deepblue-400:#5682FB;
    --deepblue-50:#E5EFFF;
    --deepblue-500:#3F72FD;
    --deepblue-600:#2658ED;
    --deepblue-700:#1641D0;
    --deepblue-800:#1938A9;
    --deepblue-900:#162C8D;
    --gray-200:#F1F3F5;
    --gray-300:#E9ECEF;
    --gray-400:#CFD4D9;
    --gray-50:#F8F9FA;
    --gray-500:#A4A9AE;
    --gray-600:#777E85;
    --gray-700:#495057;
    --gray-800:#343A40;
    --gray-900:#212528;
    --green-100:#BAECDD;
    --green-200:#76E0C0;
    --green-300:#47D1A8;
    --green-400:#20C594;
    --green-50:#DFF7DF;
    --green-500:#00AD7C;
    --green-600:#02976D;
    --green-700:#048B65;
    --green-800:#047B5B;
    --green-900:#066B51;
    --pink-100:#FFD6E6;
    --pink-200:#FDA5C8;
    --pink-300:#F882B3;
    --pink-400:#F35E9C;
    --pink-50:#FFEBF2;
    --pink-500:#F0448E;
    --pink-600:#E52A71;
    --pink-700:#CD1D67;
    --pink-800:#A22F66;
    --pink-900:#8C2B5A;
    --purple-100:#F7DDFD;
    --purple-200:#E5A1F7;
    --purple-300:#D378F2;
    --purple-400:#C45FEC;
    --purple-50:#F9EDFC;
    --purple-500:#B348E5;
    --purple-600:#A13ED0;
    --purple-700:#8A31B4;
    --purple-800:#772D99;
    --purple-900:#662B82;
    --red-100:#FDD8D9;
    --red-200:#F9A9AA;
    --red-300:#F68486;
    --red-400:#F06065;
    --red-50:#FCEEEE;
    --red-500:#EE444A;
    --red-600:#E32B31;
    --red-700:#CC1E24;
    --red-800:#B01C23;
    --red-900:#99141D;
    --violet-100:#D4CFF7;
    --violet-200:#8C81EB;
    --violet-300:#8C81EB;
    --violet-400:#7163EE;
    --violet-50:#EBE9FB;
    --violet-500:#6050F2;
    --violet-600:#4E46DA;
    --violet-700:#3A34D0;
    --violet-800:#2A2AB7;
    --violet-900:#1A259E;
    --white-0:#FFFFFF;
    --white-100:#FFFFFF;
    --white-12:#FFFFFF1F;
    --white-16:#FFFFFF29;
    --white-20:#FFFFFF33;
    --white-24:#FFFFFF3D;
    --white-32:#FFFFFF52;
    --white-4:#FFFFFF0A;
    --white-40:#FFFFFF66;
    --white-56:#FFFFFF8F;
    --white-60:#FFFFFF99;
    --white-72:#FFFFFFB8;
    --white-8:#FFFFFF14;
    --white-80:#FFFFFFCC;
    --white-88:#FFFFFFE0;
    --white-96:#FFFFFFF5;
    --yellow-100:#FFEFB2;
    --yellow-200:#FFE68A;
    --yellow-300:#FFDB66;
    --yellow-400:#FFD138;
    --yellow-50:#FFF4D1;
    --yellow-500:#FEBB10;
    --yellow-600:#F9AA01;
    --yellow-700:#F79A02;
    --yellow-800:#E78404;
    --yellow-900:#A95A00;
    --background-bg_blue:#5BABFB;
    --background-bg_cyan:#64BFD4;
    --background-bg_deepBlue:#0871F3;
    --background-bg_deepGray:#E9ECEF;
    --background-bg_disabled:#0C0C0D0A;
    --background-bg_gray:#F1F3F5;
    --background-bg_lightGray:#F8F9FA;
    --background-bg_lightBlue:#EAF4FF;
    --background-bg_lightCyan:#E0F6FB;
    --background-bg_lightPink:#FFEBF2;
    --background-bg_lightPurple:#F9EDFC;
    --background-bg_lightRed:#FCEEEE;
    --background-bg_lightViolet:#EBE9FB;
    --background-bg_lightYellow:#FFF4D1;
    --background-bg_pink:#F882B3;
    --background-bg_purple:#D378F2;
    --background-bg_red:#F68486;
    --background-bg_violet:#8C81EB;
    --background-bg_white:#FFFFFF;
    --background-bg_yellow:#FFD138;
    --basic-black:#0C0C0DE0;
    --basic-white:#FFFFFF;
    --border-0:#0C0C0D00;
    --border-12:#0C0C0D1F;
    --border-4:#0C0C0D0A;
    --border-72:#0C0C0DB8;
    --border-8:#0C0C0D14;
    --border-primary_enabled:#2589F4;
    --brandPrimary-blue400:#3996F9;
    --brandPrimary-blue500:#2589F4;
    --brandPrimary-blue600:#0871F3;
    --button-ghost-border:#0C0C0D1F;
    --button-ghost-disabled:#FFFFFF;
    --button-ghost-enabled:#FFFFFF00;
    --button-ghost-onDisabled:#C5CBD1;
    --button-ghost-onEnabled:#495057;
    --button-ghost-pressed:#FFFFFF29;
    --button-ghostw-border:#FFFFFFB8;
    --button-ghostw-border_disabled:#FFFFFF29;
    --button-ghostw-disabled:#FFFFFF00;
    --button-ghostw-enabled:#FFFFFF00;
    --button-ghostw-onDisabled:#FFFFFF3D;
    --button-ghostw-onEnabled:#FFFFFFF5;
    --button-ghostw-pressed:##FFFFFF29;
    --button-outlined-border:#0C0C0D1F;
    --button-outlined-disabled:#7786973D;
    --button-outlined-enabled:#FFFFFF;
    --button-outlined-onDisabled:#FFFFFF;
    --button-outlined-onEnabled:#495057;
    --button-outlined-pressed:#7484950D;
    --button-primary-disabled:#7786973D;
    --button-primary-enabled:#2589F4;
    --button-primary-onDisabled:#FFFFFF;
    --button-primary-onEnabled:#FFFFFF;
    --button-primary-pressed:#1D61AA;
    --button-secondary-border:#3996F9;
    --button-secondary-disabled:#7786973D;
    --button-secondary-enabled:#FFFFFF;
    --button-secondary-onDisabled:#FFFFFF;
    --button-secondary-onEnabled:#2589F4;
    --button-secondary-pressed:#7484950D ;
    --button-textBtn-Enabled:#777E85;
    --icon-default:#0C0C0DE0;
    --icon-disabled:#0C0C0D14;
    --icon-gray_1:#CFD4D9;
    --icon-gray_2:#A4A9AE;
    --icon-white:#FFFFFF;
    --shadow-blue_1:#EAF4FF;
    --shadow-blue_2:#D1EAFF;
    --shadow-blue_3:#90C9FD;
    --shadow-gray_1:#0C0C0D0A;
    --shadow-gray_2:#0C0C0D14;
    --shadow-gray_3:#0C0C0D1F;
    --status-active:#3996F9;
    --status-caution:#FEBB10;
    --status-dimmed:#0C0C0DB8;
    --status-error:#EE444A;
    --status-help:#B348E5;
    --status-info:#1AA3C1;
    --status-success:#00AD7C;
    --status-focused:#2658ED;
    --status-disabled_bg:#0C0C0D0A;
    --status-disabled_font:#0C0C0D1F;
    --surface-surface:#FFFFFF;
    --surface-surface0:#FFFFFF;
    --surface-surface100:#8295A71C;
    --surface-surface200:#8597A82E;
    --surface-surface300:#7786973D;
    --surface-surface400:#6F7D8C66;
    --surface-surface50:#7484950D;
    --surface-surface500:#323F4F80;
    --surface-surface700:#0C172399;
    --surface-surface800:#070F16D1;
    --surface-surface900:#0B0F13E8;
    --typography-black:#0C0C0DE0;
    --typography-body:#495057;
    --typography-caption:#989FA7;
    --typography-disabled:#989FA7;
    --typography-gray:#495057;
    --typography-placeholder:#0C0C0D3D;
    --typography-title:#212528;
    --typography-white:#FFFFFF;
    --header-zIndex:100;
    --sticky-zIndex:50;
    --tab-zIndex:10;
}
/* group */
.group {display:flex;align-items:center;justify-content:space-between;gap:16px;padding:16px 0;}
.group .right {margin-left:auto;}
.group.group-fluid {margin:0 -16px;}

.group-form {}
.group-form .group-title {display:flex;align-items:center;justify-content:space-between;}
.group-form .group-content:not(:first-child) {margin-top:4px;}


.group-title strong {display:flex;align-items:center;padding:0 4px;}
.group-title .apos {color:var(--status-error);margin-left:2px;}

/* business-card */
.init-regist {border-radius:8px;border:1.5px dashed var(--deepblue-300);background-color:var(--background-bg_white);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);padding:24px;}
.init-regist picture {display:flex;align-items:center;justify-content:center;margin-top:20px;}
.init-regist p {}

/* businesscard-list */
.businesscard-list {}
.businesscard-list .list-group-item {position:relative;display:flex;padding:24px 0px;align-items:center;justify-content:space-between;gap:16px;border:1px solid transparent;}
.businesscard-list .list-group-item:first-child:before {content:'';position:absolute;left:8px;right:8px;top:0;height:1px;background-color:var(--border-4);}
.businesscard-list .list-group-item:after {content:'';position:absolute;left:0;right:0;bottom:0;height:1px;background-color:var(--border-4);}
.businesscard-list .list-group-item .handler {flex:0 0 24px;width:24px;height:24px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:contain;
    mask-size:contain;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--icon-gray_2);
    -webkit-mask-image:url(../images/ico/ico_sortable_handler.svg);
    mask-image:url(../images/ico/ico_sortable_handler.svg);
}
.businesscard-list .list-group-item.sortable-chosen {background-color:var(--background-bg_gray);border-radius:4px;opacity:0.95;border:1px solid var(--status-focused);box-shadow:0px 1px 0px 0px var(--shadow-gray_3), 0px 2px 4px -1px var(--shadow-gray_3);}
.businesscard-list .list-group-item.sortable-chosen:after {display:none;}
.businesscard-list .list-group-item.sortable-chosen .handler {background-color:var(--icon-default);}
.businesscard-list .list-group-item.sortable-chosen.sortable-ghost {border-color:transparent;}

/* business-swiper */
.swiper-business-card {padding:0 16px;overflow:hidden;}
.card-select {}
.card-select .inp.inp-large {padding-left:0;}
.card-select label {}
.card-select .tags {position:absolute;left:12px;bottom:12px;z-index:var(--tab-zIndex);}
.card-select input[type="radio"] {}
/* .card-select picture img{width:100%;border-radius:8px;border:1px solid var(--border-8);opacity:0.8;background-color:var(--background-bg_lightGray);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);} */
.card-select input[type="radio"]:checked ~ label picture img {border-color:var(--status-active);}
.swiper-business-card.swiper-cards .swiper-slide {border-radius:8px;}


/* sort-wrap */
.sort-wrap {padding:8px 0;}
.sort-wrap .sort-list:not(:first-child) {margin-top:12px;}
.sort-wrap .sort-list {display:flex;align-items:center;justify-content:flex-end;padding:8px 8px 8px 16px;margin-left:auto;border-radius:24px;border:1px solid var(--border-8);background-color:var(--white-100);}
.sort-wrap .sort-list .filter {display:flex;align-items:center;gap:2px;}
.sort-wrap .sort-list .filter span {font-size:16px;color:var(--typography-gray);line-height:1;}
.sort-wrap .sort-list .sort {display:flex;align-items:center;gap:12px;font-size:16px;color:var(--typography-gray);line-height:1;}
.sort-wrap .sort-list .sort:after {content:'';flex:0 0 16px;width:16px;height:16px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:contain;
    mask-size:contain;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--icon-gray_2);
    -webkit-mask-image:url(../images/ico/ico_dropdown.svg);
    mask-image:url(../images/ico/ico_dropdown.svg);
}

/* business-card-customer */
.business-card-customer-list {padding:0 8px;}
.business-card-customer {display:flex;justify-content:space-between;gap:16px;padding:16px 0;}
.business-card-customer:not(:last-child) {border-bottom:1px solid var(--border-4);}

.business-card-customer > button {flex:1 1 100%;}
.business-card-customer > button .title-medium {padding:0 4px;}
.business-card-customer > button > *:not(:last-child) {margin-bottom:8px;}
.business-card-customer > button .company {display:flex;align-items:center;padding:0 4px;flex-wrap:wrap;}
.business-card-customer > button .company span {font-size:14px;color:var(--typography-caption);line-height:1;}
.business-card-customer > button .company-name {display:block;font-size:16px;color:var(--typography-gray);line-height:1;padding:0 4px;}
.business-card-customer > button .tags {}
.business-card-customer > button .divide-list {padding-left:4px;}
.business-card-customer figure {text-align:right;}
.business-card-customer figure .due-date {margin-bottom:6px;display:flex;align-items:center;justify-content:flex-end;}
.business-card-customer figure .due-date .body-small {padding-right:4px;}
.business-card-customer figure .due-date span {font-size:14px;color:var(--typography-caption);font-weight:400;}
.business-card-customer figure .thumb {position:relative;}
.business-card-customer figure .thumb button {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:1;}
.business-card-customer figure .thumb picture {display:block;width:120px;height:74px;}
.business-card-customer figure .thumb picture img {width:100%;height:100%;border-radius:8px;}

/* upload-picture */
.upload-picture {position:relative;display:flex;align-items:center;justify-content:center;}
.upload-picture .upload-type-select {display:flex;gap:16px;padding:35px 26px;flex:1;height:53vw;border-radius:8px;border:1px solid var(--border-8);background-color:var(--black-56);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);}
.upload-picture .upload-type-select button {display:flex;align-items:center;justify-content:center;flex-direction:column;gap:6px;font-size:18px;color:var(--white-100);line-height:1;height:100%;flex:1;}
.upload-picture .upload-type-select button:before {content:'';width:48px;flex:0 0 48px;height:48px;}
.upload-picture .upload-type-select .upload-gallery:before {background:url(../images/common/img_upload_gallery.svg) center center / contain no-repeat;}
.upload-picture .upload-type-select .upload-camera:before {background:url(../images/common/img_upload_camera.svg) center center / contain no-repeat;}
.upload-picture picture {flex:1 1 100%;}
.upload-picture picture img {border-radius:8px;border:1px solid var(--border-8);width:100%;}
.upload-picture .picture-dimmed {position:absolute;left:0;top:0;width:100%;height:100%;display:flex;justify-content:flex-end;background-color:var(--black-16);border-radius:8px;padding:12px 16px;align-items:flex-start;}
.upload-picture .upload-picture-anchor {display:block;width:100%;}

/* pinch-zoom-wrap */
.pinch-zoom-wrap {display:flex;height:calc(100vh - 96px);}
.pinch-zoom-container {width:100%!important;}

/* business-card-info */
.business-card-info {}
.business-card-info .info-title {}
.business-card-info .info-title .info-name {display:flex;justify-content:space-between;}
.business-card-info .info-title .info-name .info-thumb {display:flex;gap:12px;align-items:center;margin:0 4px;}
.business-card-info .info-title .info-name .tags {}
.business-card-info .info-title .tags-wrap {display:flex;align-items:center;margin:0 4px;gap:4px;}

/* info-detail-list */
.info-detail-list {border-radius:4px;background-color:var(--background-bg_lightGray);padding:24px 16px 16px;}
.info-table {display:table;width:100%;table-layout:auto;}
.info-table .info-body {display:table-row-group;}
.info-table .info-body .info-row {display:table-row;}
.info-table .info-body .info-row .info-th {width:0;white-space:nowrap;padding-left:4px;padding-right:8px;}
.info-table .info-body .info-row .info-td {display:table-cell;padding-left:10px;font-weight:400;}
.info-table .info-body .info-row .info-th,
.info-table .info-body .info-row .info-td {display:table-cell;font-size:16px;color:var(--typography-body);}
.info-table .info-body .info-row:not(:last-child) .info-th,
.info-table .info-body .info-row:not(:last-child) .info-td {border-bottom:16px solid transparent;}

/* bs-card */
.bs-card-wrap {}
.bs-card {border-radius:8px;border:1px solid var(--border-8);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);-webkit-text-size-adjust:auto;}
.bs-card .bs-typeA {background-color:var(--background-bg_lightGray);border-radius:inherit;}
.bs-card .bs-typeA .title figure {margin-top:-8px;}
.bs-card .bs-typeB {background-color:#F7F7F1;border-radius:inherit;}
.bs-card .bs-typeB .top {padding-bottom:12px;}
.bs-card .bs-typeB .title {border-bottom:1px solid #7A533C;padding-bottom:10px;}
.bs-card .bs-typeB .title .left {min-height:58px;}
.bs-card .bs-typeB .location {margin-top:12px;}

.bs-card .right {margin-left:auto;}
.bs-card .top {display:flex;align-items:center;justify-content:space-between;padding:13px 18px 10px;}
.bs-card .line picture img {width:100%;}
.bs-card .center {padding:0 18px 10px;}

.bs-card .title {display:flex;justify-content:space-between;gap:10px;}
.bs-card .title .left {display:flex;gap:8px;align-items:flex-start;}
.bs-card .title .right {flex:0;white-space:nowrap;word-break:break-word;}

.bs-card dl {text-align:right;}
.bs-card dl dt {font-size:18px;font-weight:500;color:var(--typography-title);letter-spacing:5px;margin-right:-5px;line-height:1;margin-bottom:8px;}
.bs-card dl dd {font-size:11px;font-weight:400;color:var(--typography-body);line-height:1;}
.bs-card dl dd:not(:last-child) {margin-bottom:3px;}

.bs-card .info {display:flex;justify-content:space-between;gap:10px;padding-top:8px;}
.bs-card .location {font-size:10px;font-weight:400;color:var(--typography-body);line-height:1.3;}
.bs-card .location:not(:first-child) {margin-top:3px;}
.bs-card .email {font-size:10px;font-weight:400;color:var(--typography-body);line-height:1.3;margin-top:2px;}
.bs-card .info .right {flex:0;white-space:nowrap;}

.bs-card .contact {display:table;}
.bs-card .contact .row {display:table-row;}
.bs-card .contact .row .th {width:0;white-space:nowrap;font-weight:500;}
.bs-card .contact .row .td {display:table-cell;padding-left:10px;}
.bs-card .contact .row .th,
.bs-card .contact .row .td {display:table-cell;font-size:9px;font-weight:500;line-height:1.3;color:var(--typography-body);text-align:right;}
.bs-card .contact .row:not(:last-child) .th,
.bs-card .contact .row:not(:last-child) .td {border-bottom:2px solid transparent;}
.bs-card .bottom {padding:8px 12px;background-color:var(--surface-surface100);border-radius:0 0 8px 8px;}
.bs-card .bottom ul {display:flex;gap:10px;flex-wrap:wrap;}
.bs-card .bottom ul li {font-size:8px;font-weight:400;color:var(--typography-gray);line-height:1.3;}


/* info-anchor */
.info-anchor {padding:8px 16px 18px;background-color:var(--white-100);}
.info-anchor ul {display:flex;justify-content:space-around;gap:auto;}
.info-anchor ul li {flex:0 1 60px;;}
.info-anchor ul li button {display:flex;width:100%;flex-direction:column;align-items:center;gap:8px;}
.info-anchor ul li button span {font-size:14px;color:var(--typography-caption);}

/* privacy-wrap */
.privacy-wrap {padding:0 12px;font-size:16px;}
.privacy-wrap > * {margin-top:22px;}
.privacy-wrap .title-large {margin-top:40px;}
.privacy-wrap ol {list-style:lower-hexadecimal;margin-left:16px;}
.privacy-wrap ol li {}
.privacy-wrap ol li::marker  {}

/* step-end */
.step-end {display:inline-flex;flex-direction:column;align-items:center;background-color:var(--white-100);padding:48px;margin:0 auto;}
.step-end p {text-align:center;margin-top:12px;font-size:24px;line-height:1.4;font-weight:700;}

/* memo-list */
.memo-list {}
.memo-list .memo-inner {border-radius:8px;border:1px solid var(--border-4);background-color:var(--background-bg_lightGray);padding:16px;}
.memo-list .memo-inner:not(:last-child) {margin-bottom:8px;}
.memo-inner p {}
.memo-inner .memo-btn {display:flex;justify-content:space-between;margin-top:4px;}
.memo-inner .memo-btn .left {display:flex;align-items:center;justify-content:center;gap:6px;}
.memo-inner .memo-btn .right {display:flex;align-items:center;justify-content:center;gap:6px;margin-left:auto;}
.memo-inner dl {display:flex;align-items:center;margin-top:24px;gap:16px;}
.memo-inner dl dt {font-size:16px;font-weight:700;color:var(--typography-body);line-height:1;}
.memo-inner dl dd {font-size:14px;color:var(--typography-caption);}
.memo-inner .divide-list {margin-top:8px;}

.memo-inner p {display:-webkit-inline-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;vertical-align:top;-webkit-line-clamp:2;word-break:break-all;font-size:16px;font-weight:400;color:var(--typography-body);}
.memo-inner .memo-btn .left {display:none;}
.memo-inner.is-toggled p {-webkit-line-clamp:none;}
.memo-inner.is-toggled .memo-btn {margin-top:12px;}
.memo-inner.is-toggled .memo-btn .left {display:flex;}


/* figure-list */
.figure-list {}
.figure-list ul {display:flex;gap:4px;}
.figure-list ul li {flex:1;}
.figure-list figure {}
.figure-list figure picture {border-radius:24px;background-color:var(--surface-surface50);display:flex;align-items:center;justify-content:center;flex:0 0 80px;width:80px;height:80px;margin:0 auto;}
.figure-list figure picture img {}
.figure-list figure figcaption {font-size:16px;color:var(--typography-gray);line-height:1;text-align:center;margin-top:12px;}

/* keyword-list */
.keyword-list {display:flex;flex-wrap:wrap;padding:24px 24px 60px;background-color:var(--background-bg_lightGray);gap:8px 4px;}
.keyword-list button {display:flex;align-items:center;justify-content:center;border-radius:24px;border:1px solid var(--border-8);background-color:var(--surface-surface);padding:10px 8px 10px 16px;gap:6px;font-size:18px;font-weight:400;color:var(--typography-gray);line-height:1;}
.keyword-list button:after {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_link_12_gr.svg) center center / contain no-repeat;}
.keyword-list button .rise {display:flex;align-items:center;gap:2px;color:var(--red-600)}
.keyword-list button .rise:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_triangle_up.svg) center center / contain no-repeat;}
.keyword-list button .fall {display:flex;align-items:center;gap:2px;color:var(--deepblue-600)}
.keyword-list button .fall:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_triangle_down.svg) center center / contain no-repeat;}
.keyword-list button .steady {display:flex;align-items:center;gap:2px;color:var(--gray-500);}
.keyword-list button .steady:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_steady.svg) center center / contain no-repeat;}
.keyword-list button .flag {flex:0 0 18px;width:18px;height:18px;}

.keyword-list button .flag-kr {background:url(../images/flag/flag_kr.svg) center center / contain no-repeat;}
.keyword-list button .flag-us {background:url(../images/flag/flag_us.svg) center center / contain no-repeat;}
.keyword-list button .flag-europe {background:url(../images/flag/flag_europe.svg) center center / contain no-repeat;}
.keyword-list button .flag-jp {background:url(../images/flag/flag_jp.svg) center center / contain no-repeat;}
.keyword-list button .flag-cn {background:url(../images/flag/flag_cn.svg) center center / contain no-repeat;}
.keyword-list button .flag-in {background:url(../images/flag/flag_in.svg) center center / contain no-repeat;}
.keyword-list button .flag-vn {background:url(../images/flag/flag_vn.svg) center center / contain no-repeat;}
.keyword-list button .flag-asia {background:url(../images/flag/flag_asia.svg) center center / contain no-repeat;}
.keyword-list button .flag-south-america {background:url(../images/flag/flag_br.svg) center center / contain no-repeat;}
.keyword-list button .flag-global {background:url(../images/flag/flag_global.svg) center center / contain no-repeat;}
.keyword-list button .flag-emerging {background:url(../images/flag/flag_emerging.svg) center center / contain no-repeat;}
.keyword-list button .flag-foreign {background:url(../images/flag/flag_foreign.svg) center center / contain no-repeat;}

/* change-history */
.change-history {padding:16px 0;}
.change-history .body-medium {padding:4px 0;margin-top:8px;font-weight:400;}
.change-history dl {margin-top:8px;}
.change-history dl dt {display:flex;align-items:center;gap:8px;}
.change-history dl dt strong {font-size:16px;font-weight:500;line-height:1;color:var(--typography-title);}
.change-history dl dt span {font-size:14px;font-weight:400;color:var(--typography-caption);}
.change-history dl dd {display:flex;align-items:center;gap:8px;margin-top:2px;}
.change-history dl dd b {font-size:14px;font-weight:400;color:var(--typography-caption);}
.change-history dl dd span {font-size:14px;font-weight:400;color:var(--typography-gray);}


/* fund-result */
.fund-result {padding-top:40px;}
.fund-result .result-title {display:flex;align-items:center;justify-content:center;text-align:center;font-size:16px;font-weight:700;line-height:1.5;margin-bottom:24px;}
.fund-result .result-title span {font-size:18px;color:var(--status-active);vertical-align:top;}

/* func-card-list */
.fund-card-list {}
.fund-card-list .fund-card:not(:last-child) {margin-bottom:16px;}
.fund-card {position:relative;border-radius:16px;background-color:var(--surface-surface);box-shadow:0px 8px 16px -4px rgba(0, 0, 0, 0.05);padding:24px;--fund-zIndex:1;transition:none}
.fund-card .clip {position:relative;top:-26px;z-index:var(--fund-zIndex);}

.fund-card .tag-wrap {display:flex;gap:4px;flex-wrap:wrap;padding-right:38px;}
.fund-card .fund-title {margin-top:14px;padding:0 4px;}
.fund-card .divide-list {padding:0 4px;margin-top:8px;}
.fund-card .divide-list .divide01 {color:var(--typography-gray)}
.fund-card .expect-list {display:flex;align-items:center;gap:2px;border-radius:8px;background-color:var(--surface-surface50);padding:12px 4px;margin-top:16px;}
.fund-card .expect-list .list {flex:1;display:flex;flex-direction:column;justify-content:space-between;gap:8px;text-align:center;}
.fund-card .expect-list dt {font-size:16px;color:var(--typography-gray);line-height:1;}
.fund-card .expect-list dd {font-size:13px;font-weight:400;color:var(--typography-gray);line-height:1;}
.fund-card .expect-list .list.rise dt {font-weight:700;}
.fund-card .expect-list .list.rise dd {color:var(--red-600);}
.fund-card .expect-list .list.fall dd {color:var(--deepblue-600);}
.fund-card .expect-list .list.steady dd {color:var(--gray-500);}
.fund-card .sales-list {display:flex;align-items:center;justify-content:space-between;gap:8px;border-radius:8px;background-color:var(--surface-surface50);padding:12px 14px;margin-top:8px;}
.fund-card .sales-list dt {font-size:16px;font-weight:700;color:var(--typography-gray);line-height:1;}
.fund-card .sales-list dd {font-size:18px;font-weight:500;color:var(--typography-gray);line-height:1;}
.fund-card .expect-reason {border-radius:8px;background-color:var(--surface-surface50);padding:12px 12px 14px;margin-top:8px;}
.fund-card .expect-reason dt {font-size:16px;color:var(--typography-gray);line-height:1;}
.fund-card .expect-reason dd {font-size:16px;font-weight:400;color:var(--gray-600);margin-top:8px;}
.fund-card .compare-btn-wrap {position:relative;display:flex;justify-content:flex-end;margin-top:16px;z-index:var(--fund-zIndex);}
.fund-card .favorite-btn-wrap {position:absolute;top:10px;right:10px;z-index:var(--fund-zIndex)}
.fund-card .favorite-btn-wrap button {display:flex;width:58px;height:52px;align-items:center;justify-content:center;}
.fund-card.is-toggled {outline:2px solid var(--border-primary_enabled);}
.fund-card.aos-animate .clip {animation:hithere 1s;}
.fund-card.is-toggled .clip {top:-24px;}
@keyframes hithere {
    30% { transform:scale(1.02); }
    40%, 60% { transform:rotate(-5deg) scale(1.02); }
    50% { transform:rotate(5deg) scale(1.02); }
    70% { transform:rotate(0deg) scale(1.02); }
    100% { transform:scale(1); }
}
  

/* fund-detail */
.fund-detail {position:relative;padding-top:64px;}

.fund-detail-title {padding-bottom:40px;}
.fund-detail-title .tag-wrap {display:flex;align-items:center;justify-content:center;gap:4px;flex-wrap:wrap;}
.fund-detail-title .headline-medium {text-align:center;margin-top:16px;padding:0 4px;}
.fund-detail-title .favorite-btn-wrap {position:absolute;top:16px;right:16px;}
.fund-detail-title .body-xlarge {margin-top:16px;text-align:center;word-break:keep-all;padding:0 4px;}
.fund-detail-title .tag-wrap-bottom {margin-top:16px;}

.fund-detail-rate {border-radius:8px;background:var(--surface-surface);box-shadow:0px 8px 16px -4px rgba(0, 0, 0, 0.05);padding:32px 0;}
.fund-detail-rate .title-large {text-align:center;}
.fund-detail-rate .expect-list {display:flex;align-items:center;margin-top:16px;padding:0 8px;gap:4px;}
.fund-detail-rate .expect-list .list {display:flex;flex-direction:column;gap:16px;text-align:center;flex:1;}
.fund-detail-rate .expect-list .list dt {font-size:16px;color:var(--typography-gray);}
.fund-detail-rate .expect-list .list dd {font-size:15px;color:var(--typography-gray);}
.fund-detail-rate .expect-list .list.rise dd {color:var(--red-600);}
.fund-detail-rate .expect-list .list.fall dd {color:var(--deepblue-600);}
.fund-detail-rate .expect-list .list.steady dd {color:var(--gray-500);}

.fund-detail-rate .status-list {display:flex;gap:16px;align-items:center;justify-content:center;}
.fund-detail-rate .status-list dt {font-size:30px;color:var(--typography-black);font-weight:700;}
.fund-detail-rate .status-list dd {display:flex;font-size:18px;}
.fund-detail-rate .status-list dd.rise {display:flex;align-items:center;gap:2px;color:var(--red-600)}
.fund-detail-rate .status-list dd.rise:before {content:'';flex:0 0 14px;width:14px;height:14px;background:url(../images/ico/ico_triangle_up.svg) center center / contain no-repeat;}
.fund-detail-rate .status-list dd.fall {display:flex;align-items:center;gap:2px;color:var(--deepblue-600)}
.fund-detail-rate .status-list dd.fall:before {content:'';flex:0 0 14px;width:14px;height:14px;background:url(../images/ico/ico_triangle_down.svg) center center / contain no-repeat;}
.fund-detail-rate .status-list dd.steady {display:flex;align-items:center;gap:2px;color:var(--gray-500);}
.fund-detail-rate .status-list dd.steady:before {content:'';flex:0 0 14px;width:14px;height:14px;background:url(../images/ico/ico_steady.svg) center center / contain no-repeat;}

.fund-detail-info {padding:40px 0;background-color:var(--white-100);}
.fund-detail-info h4.headline-small {text-align:center;margin-bottom:24px;}

.fund-detail-info .top10-list {border-top:1px solid var(--border-12);}
.fund-detail-info .top10-list dl {padding-top:8px;}
.fund-detail-info .top10-list dl .list {display:flex;align-items:center;justify-content:space-between;gap:8px;padding:8px 0;}
.fund-detail-info .top10-list dl .list:not(:last-child) {border-bottom:1px solid var(--border-4);}
.fund-detail-info .top10-list dl dt {font-size:18px;font-weight:400;color:var(--typography-body);}
.fund-detail-info .top10-list dl dd {font-size:18px;font-weight:400;color:var(--status-info);}

.fund-detail-info .fund-rate h5 {display:flex;align-items:center;justify-content:center;gap:10px;}
.fund-detail-info .fund-rate h5 span {font-size:18px;font-weight:500;color:var(--typography-title);}
.fund-detail-info .fund-rate h5 .rise {color:var(--red-600);}
.fund-detail-info .fund-rate h5 .fall {color:var(--deepblue-600);}
.fund-detail-info .fund-rate h5 .steady {color:var(--gray-500);}

.fund-detail-info .chart-wrap {padding:16px 0;border-radius:8px;background-color:var(--background-bg_lightGray);}
.fund-detail-info .chart-wrap .btn-wrap {justify-content:flex-end;padding-right:16px;}

.table-layout {display:table;width:100%;table-layout:auto;border-top:1px solid var(--border-4);}
.table-layout .tbody {display:table-row-group;}
.table-layout .tbody .tr {display:table-row;}
.table-layout .tbody .tr .th {display:table-cell;white-space:nowrap;padding-right:8px;padding-left:4px;vertical-align:middle;font-size:18px;font-weight:400;}
.table-layout .tbody .tr .td {display:table-cell;font-size:18px;font-weight:400;color:var(--status-info);text-align:center;}
.table-layout .tbody .tr .th,
.table-layout .tbody .tr .td {border-bottom:1px solid var(--border-4);padding-top:12px;padding-bottom:12px;;}

.box-gray {border-radius:8px;background-color:var(--surface-surface50);padding:16px;}

.vertical-step {padding:24px 16px;background-color:var(--surface-surface50);}
.vertical-step .vertical-step-title {display:flex;gap:8px;align-items:flex-start;}
.vertical-step ol {padding:16px 24px;}
.vertical-step ol li {position:relative;font-size:16px;color:var(--typography-caption);line-height:1;display:flex;align-items:flex-start;gap:8px;}
.vertical-step ol li:not(:last-child) {padding-bottom:20px;}
.vertical-step ol li:before {content:'';position:relative;flex:0 0 14px;width:14px;height:14px;background:url(../images/PBWFU/ico-step-bul.svg) center center / contain no-repeat;z-index:1;}
.vertical-step ol li:after {content:'';position:absolute;left:7px;top:0;width:1px;height:100%;background-color:var(--cyan-100);z-index:0;}

/* customer-card-list */
.customer-card-list {}
.customer-card-list .search-result {display:block;text-align:center;font-size:18px;font-weight:500;color:var(--typography-gray);line-height:1;margin-bottom:24px;}
.customer-card-list .customer-card {display:block;border-radius:16px;background-color:var(--surface-surface);box-shadow:0px 8px 16px -4px rgba(0, 0, 0, 0.05);padding:24px;width:100%;}
.customer-card-list .customer-card:not(:last-child) {margin-bottom:8px;}
.customer-card-list .customer-card .title-medium {margin-bottom:12px;}
.customer-card-list .customer-card .group {padding:0;}
.customer-card-list .customer-card .group:not(:last-child) {padding-bottom:4px;}
.customer-card-list .customer-card .group dt {font-size:16px;font-weight:400;color:var(--typography-body);}
.customer-card-list .customer-card .group dd {font-size:16px;font-weight:400;color:var(--status-info);}

/* customer-contribution-list */
.customer-contribution-list {}
.customer-contribution-title {display:block;font-size:18px;font-weight:500;color:var(--typography-gray);margin-bottom:24px;text-align:center;}
.box {padding:40px 24px;background-color:var(--background-bg_white);}
.box .headline-small {text-align:center;}

/* accordion-select */
.accordion-select {}
.accordion-select .accordion-select-all {position:relative;display:flex;background-color:var(--surface-surface50);font-size:18px;font-weight:500;color:var(--typography-black);padding:24px;width:100%;}
.accordion-select .accordion-select-all:before {content:'';position:absolute;left:24px;right:24px;bottom:0;background-color:var(--border-4);height:1px;}
.accordion-select .accordion-select-all.is-selected {font-weight:700;padding-right:52px;}
.accordion-select .accordion-select-all.is-selected:after {content:'';position:absolute;right:24px;top:50%;margin-top:-14px;display:block;width:28px;height:28px;background:url(../images/ico/ico_select_option.svg) center center / contain no-repeat;}

.accordion-select .dep01 {position:relative;left:0;transition:left 0.3s ease;}
.accordion-select .accordion-select-list {}
.accordion-select .accordion-select-list > li {}
.accordion-select .accordion-select-list > li > button:before {content:'';position:absolute;left:24px;right:24px;bottom:0;background-color:var(--border-4);height:1px;}
.accordion-select .accordion-select-list > li > button {position:relative;font-size:18px;font-weight:500;color:var(--typography-body);padding:24px;width:100%;}

.accordion-select .dep01.dep02-show {left:-100%;}
.accordion-select .dep01.dep02-show .accordion-select-list > li:not(.is-selected) {display:none;}

.accordion-select .dep02 {display:none;position:absolute;left:100%;top:0;width:100%;transition:left 0.3s ease;}

.accordion-select .dep02 ul,
.accordion-select .dep02 li {position:relative;}
.accordion-select .dep02 ul:after {content:'';position:absolute;width:calc(100vw - 48px);right:24px;top:0;background-color:var(--surface-surface50);height:1px;}
.accordion-select .dep02 li:after {content:'';position:absolute;width:calc(100vw - 48px);right:24px;bottom:0;background-color:var(--surface-surface50);height:1px;}

.accordion-select .history-back {}
.accordion-select .history-back button {display:flex;align-items:center;width:100%;padding:16px 24px;font-size:18px;font-weight:700;color:var(--typography-title);gap:16px;}
.accordion-select .history-back button:before {content:'';flex:0 0 12px;width:12px;height:24px;background:url(../images/arrow/ico_history_back.svg) center center / contain no-repeat;}

.accordion-select .dep02 button {position:relative;display:flex;font-size:16px;font-weight:500;color:var(--typography-black);line-height:24px;padding:13px 16px;width:100%;gap:16px;}
.accordion-select .dep02 button:before {content:'';flex:0 0 24px;width:24px;height:24px;}
.accordion-select-list-nodepth .dep02 ul button {padding:21px 24px;}
.accordion-select-list-nodepth .dep02 ul button:before {display:none;}

.accordion-select .dep02 button:not(:only-child):before {background:url(../images/arrow/ico_acc_up.svg) center center / contain no-repeat;}

.accordion-select .dep02 .is-acc > button:not(:only-child):before {background:url(../images/arrow/ico_chevron_down.svg) center center / contain no-repeat;}
.accordion-select .dep02 ul ul {padding-left:16px;}
.accordion-select .dep02 li:not(.is-acc) ul {display:none;}

.accordion-select .dep02 button.is-checked {padding-right:52px;}
.accordion-select .dep02 button.is-checked:after {content:'';position:absolute;right:24px;top:50%;margin-top:-14px;display:block;width:28px;height:28px;background:url(../images/ico/ico_select_option.svg) center center / contain no-repeat;}

/* customer-info-title */
.customer-info-title {padding:40px 0 32px;}
.customer-info-title .tag-wrap {display:flex;align-items:center;justify-content:center;margin-top:8px;}

.grade-wrap {display:flex;gap:30px;}
.grade-wrap .grade-circle {flex:0 0 150px;width:150px;height:150px;border:8px solid var(--blue-500);border-radius:50%;display:flex;align-items:center;justify-content:center;}
.grade-wrap .grade-circle .BBB {font-size:34px;font-weight:700;color:var(--brandPrimary-blue600);}
.grade-wrap dl {flex:auto;}
.grade-wrap dl .list {padding:8px;}
.grade-wrap dl .list dt {font-size:15px;font-weight:700;line-height:1;}
.grade-wrap dl .list dd {font-size:15px;font-weight:400;margin-top:8px;}

/* loan-calculator */
.loan-calculator {padding:40px 24px 32px;}
.loan-calculator .list {display:flex;padding:0 8px;align-items:center;justify-content:space-between;gap:8px;flex-wrap:wrap;}
.loan-calculator .list:not(:last-child) {margin-bottom:12px;}
.loan-calculator dt {font-size:16px;font-weight:500;}
.loan-calculator dd {font-size:15px;font-weight:400;text-align:right;}
.loan-calculator .loan-status {color:var(--gray-600);}
.loan-calculator .loan-payment {color:var(--typography-black);}
.loan-calculator .loan-payment dt {font-size:18px;}
.loan-calculator .loan-total {color:var(--typography-black);}
.loan-calculator .loan-total .list {flex-direction:column;}
.loan-calculator .loan-total dt {display:flex;align-items:center;font-size:20px;width:100%;gap:8px;}
.loan-calculator .loan-total dd {font-size:26px;font-weight:700;line-height:1.4;width:100%;margin-top:16px;}

.loan-monthly-list {padding:24px 16px;}
.loan-monthly-list .list {border-radius:8px;background-color:var(--surface-surface50);padding:16px 20px;}
.loan-monthly-list .list:not(:last-child) {margin-bottom:8px;}
.loan-monthly-list dt {font-size:16px;font-weight:700;color:var(--typography-title);line-height:1.5;}
.loan-monthly-list dd {display:flex;align-items:center;justify-content:space-between;font-size:16px;font-weight:400;}
.loan-monthly-list dd .left {color:var(--gray-600);}
.loan-monthly-list dd .right {}
.loan-monthly-list dd:not(:last-child) {margin-bottom:4px;}


/* flag */
div.flag {display:flex;align-items:center;gap:8px;}
span.flag {display:block;}
span.flag span {margin-top:8px;}
button.flag {}
.flag strong {display:flex;font-size:26px;font-weight:700;color:var(--typography-title);line-height:36px;gap:8px;align-items:center;}
.flag strong:before {content:'';flex:0 0 24px;width:24px;height:24px;background-size:contain;background-position:center center;background-repeat:no-repeat;}
button.flag strong:after {content:'';flex:0 0 10px;width:10px;height:20px;background:url(../images/arrow/ico_chevron.svg) center center / contain no-repeat;}
.flag span {display:block;font-size:16px;font-weight:500;color:var(--typography-caption);line-height:1;}
button.flag span {display:block;margin-top:8px;}
button.flag-fluid {display:flex;align-items:center;width:100%;gap:8px;}
button.flag-fluid:after {content:'';flex:0 0 10px;width:10px;height:20px;background:url(../images/arrow/ico_chevron.svg) center center / contain no-repeat;margin-left:auto;}
button.flag-fluid strong:after {display:none;}
button.flag-fluid span {margin-top:0;}

.flag-asia strong:before{background-image:url(../images/flag/flag_asia.svg)}
.flag-au strong:before{background-image:url(../images/flag/flag_au.svg)}
.flag-br strong:before{background-image:url(../images/flag/flag_br.svg)}
.flag-ca strong:before{background-image:url(../images/flag/flag_ca.svg)}
.flag-ch strong:before{background-image:url(../images/flag/flag_ch.svg)}
.flag-cn strong:before{background-image:url(../images/flag/flag_cn.svg)}
.flag-dk strong:before{background-image:url(../images/flag/flag_dk.svg)}
.flag-emerging strong:before{background-image:url(../images/flag/flag_emerging.svg)}
.flag-eu strong:before{background-image:url(../images/flag/flag_eu.svg)}
.flag-europe strong:before{background-image:url(../images/flag/flag_europe.svg)}
.flag-foreign strong:before{background-image:url(../images/flag/flag_foreign.svg)}
.flag-gb strong:before{background-image:url(../images/flag/flag_gb.svg)}
.flag-global strong:before{background-image:url(../images/flag/flag_global.svg)}
.flag-hk strong:before{background-image:url(../images/flag/flag_hk.svg)}
.flag-in strong:before{background-image:url(../images/flag/flag_in.svg)}
.flag-jp strong:before{background-image:url(../images/flag/flag_jp.svg)}
.flag-kr strong:before{background-image:url(../images/flag/flag_kr.svg)}
.flag-no strong:before{background-image:url(../images/flag/flag_no.svg)}
.flag-nz strong:before{background-image:url(../images/flag/flag_nz.svg)}
.flag-ph strong:before{background-image:url(../images/flag/flag_ph.svg)}
.flag-se strong:before{background-image:url(../images/flag/flag_se.svg)}
.flag-sg strong:before{background-image:url(../images/flag/flag_sg.svg)}
.flag-th strong:before{background-image:url(../images/flag/flag_th.svg)}
.flag-us strong:before{background-image:url(../images/flag/flag_us.svg)}
.flag-vn strong:before{background-image:url(../images/flag/flag_vn.svg)}

/* label-list */
.label-list {display:flex;gap:16px;}
.label-list li {display:flex;gap:4px;align-items:center;}
.label-list li:before {content:'';flex:0 0 13px;width:13px;height:13px;border-radius:4px;}
.label-list i {display:flex;font-size:14px;font-weight:400;color:var(--typography-gray);line-height:1;}
.label-list i:empty:before {content:attr(aria-label);}
.label-list .list01:before {background-color:var(--deepblue-700);}
.label-list .list02:before {background-color:var(--cyan-500);}
.label-list .list03:before {background-color:var(--purple-500);}

/* exchange-wrap */
.exchange-wrap {background-color:var(--background-bg_lightGray);padding:16px;}
.exchange-list {padding:16px 20px;border-radius:16px;background-color:var(--surface-surface);}
.exchange-list:not(:last-child) {margin-bottom:8px;}

/* community-wrap */
.community-wrap {}
.community-wrap > .dep01 {}
.community-wrap .dep01 > li {position:relative;padding-left:58px;}
.community-wrap .dep01 > li:before {content:'';position:absolute;left:27px;width:2px;height:100%;background-color:var(--border-4);z-index:-1;}
.community-wrap .dep01 > li:not(:last-child) {padding-bottom:12px;}

.comment-wrap {position:relative;padding:12px 0;}
.comment-wrap .comment-user {margin:0 0 8px 12px;}
.comment-wrap .avartar {position:absolute;left:-58px;top:0;width:54px;height:54px;background-repeat:no-repeat;background-size:contain;background-position:center center;}
.comment-wrap .avartar-nodata {background-color:var(--surface-surface);border-radius:50%;display:flex;align-items:center;justify-content:center;}
.comment-wrap .avartar01 {background:url(../images/avatar/profile_type1.svg) center center / contain no-repeat;}
.comment-wrap .avartar02 {background:url(../images/avatar/profile_type2.svg) center center / contain no-repeat;}
.comment-wrap .avartar03 {background:url(../images/avatar/profile_type3.svg) center center / contain no-repeat;}
.comment-wrap .avartar04 {background:url(../images/avatar/profile_type4.svg) center center / contain no-repeat;}
.comment-wrap .avartar05 {background:url(../images/avatar/profile_type5.svg) center center / contain no-repeat;}
.comment-wrap .avartar06 {background:url(../images/avatar/profile_type6.svg) center center / contain no-repeat;}

.comment-wrap .comment-user-info .body-medium {padding:0 12px;}

.comment-wrap .name {font-size:20px;font-weight:700;color:var(--typography-title);line-height:1.5;}
.comment-wrap .date {font-size:14px;font-weight:400;color:var(--gray-400);line-height:1;}
.comment-wrap .btn-more {position:absolute;right:0;top:0;display:flex;width:42px;height:42px;align-items:center;justify-content:center;border-radius:8px;margin-left:auto;}
.comment-wrap .btn-more:active {background-color:var(--surface-surface100);}
.comment-wrap .btn-more:before {content:'';width:100%;height:100%;background:url(../images/btn/btn_more.svg) center center / contain no-repeat;}
.comment-wrap .divide-list {}
.comment-wrap .divide-list span {font-size:14px;}
.comment-wrap .tags {margin-bottom:8px;}
.comment-wrap .comment-desc {}
.comment-wrap .comment-desc-inner {padding:6px 12px;border-radius:8px;background-color:var(--surface-surface50);}
.comment-wrap .comment-desc p {display:-webkit-inline-box!important;-webkit-box-orient:vertical!important;overflow:hidden!important;text-overflow:ellipsis!important;vertical-align:top;-webkit-line-clamp:3;word-break:break-all;font-size:16px;}
.comment-wrap .comment-desc.is-toggled p {-webkit-line-clamp:none;}
.comment-wrap .comment-desc .comment-toggle-wrap {margin-top:4px;}
.comment-wrap .comment-btn-wrap {display:flex;align-items:center;justify-content:space-between;margin-top:8px;}
.comment-wrap .comment-btn-wrap {}

.community-wrap .dep02 > li:not(:last-child) .comment-wrap {border-bottom:1px solid var(--border-4);}
.community-wrap .dep02 > li {padding-left:38px;}

.community-wrap .dep02 .comment-wrap {padding:8px 0;}
.community-wrap .dep02 .comment-wrap:before {content:'';position:absolute;flex:0 0 16px;width:16px;height:16px;top:16px;left:-20px;background:url(../images/arrow/arrow_reply.svg) center center / contain no-repeat;}
.community-wrap .dep02 .comment-wrap .comment-user {margin:0 0 8px 4px;}
.community-wrap .dep02 .comment-wrap .avartar {position:static;width:24px;height:24px;flex:0 0 24px;}
.community-wrap .dep02 .comment-wrap .comment-user-profile {display:flex;align-items:center;gap:4px;}
.community-wrap .dep02 .comment-wrap .name {font-size:16px;}
.community-wrap .dep02 .comment-wrap .date {font-size:13px;}
.community-wrap .dep02 .comment-wrap .btn-more {position:absolute;right:0;top:0;display:flex;width:42px;height:42px;align-items:center;justify-content:center;border-radius:8px;margin-left:auto;}
.community-wrap .dep02 .comment-wrap .btn-more:active {background-color:var(--surface-surface100);}
.community-wrap .dep02 .comment-wrap .btn-more:before {content:'';width:100%;height:100%;background:url(../images/btn/btn_more.svg) center center / contain no-repeat;}
.community-wrap .dep02 .comment-wrap .divide-list {}
.community-wrap .dep02 .comment-wrap .divide-list span {font-size:13px;}
.community-wrap .dep02 .comment-wrap .tags {margin-bottom:8px;}
.community-wrap .dep02 .comment-wrap .comment-desc {}
.community-wrap .dep02 .comment-wrap .comment-desc-inner {padding:0 4px;border-radius:0;background-color:transparent;}
.community-wrap .dep02 .comment-wrap .comment-desc p {display:-webkit-inline-box!important;-webkit-box-orient:vertical!important;overflow:hidden!important;text-overflow:ellipsis!important;vertical-align:top;-webkit-line-clamp:3;word-break:break-all;font-size:15px;}
.community-wrap .dep02 .comment-wrap .comment-desc.is-toggled p {-webkit-line-clamp:none;}
.community-wrap .dep02 .comment-wrap .comment-desc .comment-toggle-wrap {margin-top:4px;}
.community-wrap .dep02 .comment-wrap .comment-btn-wrap {display:flex;align-items:center;justify-content:space-between;margin-top:8px;}
.community-wrap .dep02 .comment-wrap .comment-btn-wrap {}

/* fund-diff */
.fund-diff {}
.fund-diff .fund-diff-title {padding:8px 16px 0;}
.fund-diff .fund-diff-title ul {position:relative;margin-top:32px;display:flex;gap:16px;padding-bottom:46px;}
.fund-diff .fund-diff-title ul:after {content:'';position:absolute;left:50%;top:0;height:100%;border-left:1px dashed var(--border-4);}
.fund-diff .fund-diff-title ul li {flex:1;}
.fund-diff .fund-diff-title .tags-wrap {text-align:center;}
.fund-diff .fund-diff-title .title-medium {padding:0;margin-top:16px;}
.fund-diff .fund-diff-title .tags-bottom {margin-top:8px;}
.fund-diff-detail {}
.fund-diff-detail .fund-diff-inner {background-color:var(--background-bg_white);padding:32px 16px 48px;}
.fund-diff-detail .title-large {text-align:center;margin-bottom:24px;}
.fund-diff-detail .diff-table {position:relative;}
.fund-diff-detail .diff-table:after {content:'';position:absolute;left:50%;top:0;height:100%;border-left:1px dashed var(--border-4);}
.fund-diff-detail .diff-table table {table-layout:fixed;}
.fund-diff-detail .diff-table th {}
.fund-diff-detail .diff-table th strong {display:block;border-radius:4px;border: 1px solid var(--border-8);text-align:center;font-size:15px;font-weight:500;color:var(--typography-title);padding:3px 8px;}
.fund-diff-detail .diff-table tr > * {vertical-align:top;}
.fund-diff-detail .diff-table tr > *:first-child {border-right:12px solid transparent;}
.fund-diff-detail .diff-table tr > *:last-child {border-left:12px solid transparent;}
.fund-diff-detail .diff-table tr:not(:last-child) > th {border-bottom:16px solid transparent;}
.fund-diff-detail .diff-table tr:not(:last-child) > td {border-bottom:32px solid transparent;}
.fund-diff-detail .diff-table td {font-size:18px;font-weight:400;color:var(--typography-body);text-align:center;}
.fund-diff-detail .diff-table p {font-size:16px;text-align:left;}

.fund-diff-detail .diff-table dl {font-size:15px;font-weight:400;color:var(--typography-caption);text-align:left;padding:0 4px;}

.fund-diff-detail .diff-table dl.price dt {font-size:20px;font-weight:700;color:var(--typography-black);line-height:1;text-align:center;}
.fund-diff-detail .diff-table dl.price dd {font-size:18px;font-weight:400;line-height:1;margin-top:8px;text-align:center;}
.fund-diff-detail .diff-table dl.price dd span {justify-content:center;}
.fund-diff-detail .diff-table dl.price .rise {display:flex;align-items:center;gap:2px;color:var(--red-600);}
.fund-diff-detail .diff-table dl.price .rise:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_triangle_up.svg) center center / contain no-repeat;}
.fund-diff-detail .diff-table dl.price .fall {display:flex;align-items:center;gap:2px;color:var(--deepblue-600);}
.fund-diff-detail .diff-table dl.price .fall:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_triangle_down.svg) center center / contain no-repeat;}
.fund-diff-detail .diff-table dl.price .steady {display:flex;align-items:center;gap:2px;color:var(--gray-500);}
.fund-diff-detail .diff-table dl.price .steady:before {content:'';flex:0 0 12px;width:12px;height:12px;background:url(../images/ico/ico_steady.svg) center center / contain no-repeat;}
.fund-diff-detail .diff-table dl.group-list {}
.fund-diff-detail .diff-table dl.group-list .list {display:flex;justify-content:space-between;gap:8px;}

/* schedule-section */
.schedule-section {background-color:var(--background-bg_lightGray);}
.schedule-section .tags-wrap {display:flex;justify-content:center;}
.schedule-section .schedule-list {display:block;padding:14px 16px 16px;background-color:var(--surface-surface);border-radius:12px;box-shadow: 0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);}
.schedule-section .schedule-list:not(:last-child) {margin-bottom:8px;}
.schedule-list .schedule-title {display:flex;align-items:flex-start;gap:8px;}
.schedule-list .schedule-title:after {content:'';flex:0 0 10px;width:10px;height:20px;margin-left:auto;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:contain;
    mask-size:contain;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--icon-gray_1);
    -webkit-mask-image:url(../images/arrow/ico_chevron.svg);
    mask-image:url(../images/arrow/ico_chevron.svg);
}
.schedule-list .schedule-title .title-medium {line-height:24px;padding:0;}
.schedule-list > *:not(:last-child) {margin-bottom:12px;}
.schedule-list .schedule-content .schedule-detail {display:flex;align-items:center;padding-left:4px;flex-wrap:wrap;}
.schedule-list .schedule-content .schedule-detail-inner {display:flex;align-items:center;gap:4px;font-size:15px;color:var(--typography-caption);font-weight:400;}


.table-schedule {display:table;width:100%;table-layout:auto;}
.table-schedule .tbody {display:table-row-group;}
.table-schedule .tbody .tr {display:table-row;}
.table-schedule .tbody .tr .th {display:table-cell;white-space:nowrap;padding-right:8px;padding-left:4px;vertical-align:middle;font-size:18px;font-weight:400;}
.table-schedule .tbody .tr .td {display:table-cell;font-size:18px;font-weight:400;color:var(--status-info);text-align:center;}
.table-schedule .tbody .tr .th,
.table-schedule .tbody .tr .td {padding-top:16px;padding-bottom:16px;;}

/* schedule-regist */
.schedule-regist {}
.schedule-regist dl {display:flex;align-items:center;gap:10px;padding:0 4px;border-radius:8px;background-color:transparent;transition:background-color 0.3s ease;}
.schedule-regist dl.is-wrap-active {background-color:var(--surface-surface50);}
.schedule-regist dl dt {}
.schedule-regist dl dd {font-size:18px;font-weight:500;color:var(--typography-gray);line-height:52px;}
.schedule-regist dl dd button {width:100%;}
.schedule-regist dl dd .is-active {color:var(--status-active);}
.schedule-regist dl dd:nth-child(2) {flex:0 0 130px;white-space:nowrap;text-align:left;}
.schedule-regist dl dd:nth-child(2) button {display:flex;width:100%;align-items:center;justify-content:space-between;}
.schedule-regist dl dd:nth-child(3) {flex:1;white-space:nowrap;text-align:right;}
.schedule-regist-target {display:none;padding:24px 16px;}
.schedule-regist-target .datepicker-wrap .ui-widget.ui-widget-content {padding:24px 4px;}

/* staff-list */
.staff-list {padding:40px 16px 64px;background-color:var(--background-bg_gray);}