@charset "utf-8";
/* 320 해상도 대응 */
@media (max-width:360px) {
    .main-nav ul {gap:4px;}
    .main-figure-list ul {gap:8px;}
    .main-figure-list figure picture {flex:0 0 80px;width:80px;height:80px;}
    .main-figure-list figure figcaption {font-size:16px;}

    .label-list {gap:8px;}
    .label-list i {font-size:13px;}

    .figure-list figure picture {flex:0 0 68px;width:68px;height:68px;}
    .figure-list figure figcaption {font-size:13px;}

    .shortcut-button-wrap .btn-xsmall {padding:6px;}
    .input-wrap.input-datepicker button {font-size:14px;}
    .stock-index-list a {}
}
@media (max-width:767px) {
    .filter-combination .btn-border {display:flex;}
    .filter-combination .sort-list {display:none;}
    .is-mobile {display:block;}
    .is-tablet {display:none;}
}
@media (min-width:768px) {
    .is-mobile {display:none;}
    .is-tablet {display:block;}

    /* ui-layout */
    .section-tablet {padding:0 42px;}
    .section-tablet-row {display:flex;flex-direction:row;max-height:calc(100vh - 52px);overflow:hidden;padding:0 38px;}
    .section-has-bottom {max-height:calc(100vh - 52px - 76px);}
    .section-tablet-row .section-tablet-left,
    .section-tablet-row .section-tablet-right {overflow:auto;padding-bottom:24px;padding:0 20px 24px;}
    .section-tablet-left {flex:0 0 56.97%;}
    .section-tablet-right {flex:0 0 43.03%;}
    .section-tablet-right > .mt40:first-child {margin-top:16px!important;}
    .section-tablet-row .bottom-btn {margin:0;}

    .section-tablet-half {display:flex;flex-direction:row;justify-content:space-between;max-height:calc(100vh - 52px);overflow:hidden;padding:0;margin:0 -16px;background: var(--background-bg_lightGray);}
    .section-tablet-half .section {flex:0 0 calc(50% - 4px);max-width:calc(50% - 4px);overflow:auto;padding:0 16px;background-color:var(--background-bg_white);}
    .section-tablet-half .divide {height:4px;background: var(--background-bg_lightGray);}

    .bottom-btn-main {position:fixed;width:480px;left:50%;bottom:24px;transform:translateX(-50%);}
    .bottom-btn-main .main-nav {border-radius: 26px;box-shadow: 0px 2px 30px -4px rgba(0, 0, 0, 0.15);}

    /* ui-plugins */
    #toast-container {max-width:360px;}

    .micromodal-slide-bottom-right-full .modal__container {height:100%;}
    .micromodal-slide-bottom-right-full .modal__overlay {justify-content:flex-end;}
    .micromodal-slide-bottom-right-full .modal__container {max-height:none;border-radius:24px 0 0 0;max-width:360px;}
    .micromodal-slide-sticky .modal__overlay {background-color:transparent;justify-content:flex-end;}
    .micromodal-slide-sticky .modal__container {box-shadow: 0px -2px 40px -1px rgba(12, 12, 13, 0.12);border-radius:20px 0 0 0;max-width:360px;}
    
        
    .micromodal-slide-bottom-right-full[aria-hidden="false"] .modal__overlay {
        animation:mmfadeLeftIn .5s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .micromodal-slide-bottom-right-full[aria-hidden="false"] .modal__container {
        animation:mmslideLeftIn .5s cubic-bezier(0, 0, .2, 1);
    }
    .micromodal-slide-bottom-right-full[aria-hidden="true"] .modal__overlay {
        animation:mmfadeLeftOut .5s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .micromodal-slide-bottom-right-full[aria-hidden="true"] .modal__container {
        animation:mmslideLeftOut .5s cubic-bezier(0, 0, .2, 1);
    }

    .micromodal-slide-bottom-tablet .modal__container {max-height:100%;border-radius:0;}

    /* ui-style */
    .customer-contribution-list .stroke.stroke4{display:none;}
    .customer-contribution-list > * {padding-left: 146px;padding-right: 146px;}
    .business-card-customer-list {display:grid;grid-template-columns:repeat(2,1fr);gap:12px;padding:0;margin-top:12px;}
    .business-card-customer {padding:24px 40px;border-radius: 8px;border: 1px solid rgba(12, 12, 13, 0.08);box-shadow: 0px 0.5px 0px 0px rgba(12, 12, 13, 0.04), 0px 2px 4px -1px rgba(12, 12, 13, 0.04);}

    /* ui-content */
    .chatgpt-wrap {display:flex;height:calc(100vh - 52px);overflow:hidden;}
    .chatgpt-wrap .chatgroup {height:100%;overflow:auto;padding-bottom:24px;}

    .chatgpt-wrap .chatgroup.chatgroup-notice {flex:0 0 360px;}
    .chatgpt-wrap .chatgroup.chatgroup-body {padding-bottom:calc(69px + 24px);background-color:var(--background-bg_lightBlue);}
    .chatgpt-wrap .bottom-btn {position:fixed;left:auto;right:0;bottom:0;width:calc(100% - 360px);}
    .message-notice {width:100%;}
    .form-filter {justify-content:space-between;}
    .form-filter .input-wrap {max-width:328px;}
    .filter-combination .btn-border {display:none;}
    .filter-combination .sort-list {display:flex;margin-top:0;}

    .business-card-info {margin-top:0;}

    .bottom-btn-contact {position:fixed;margin:0 0 58px 58px;}
    .bottom-btn-contact .info-anchor {box-shadow: 0px 2px 30px -4px rgba(0, 0, 0, 0.15);border-radius:26px;}
}

