@charset "utf-8";

/* light */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 300;
	font-display: swap;
    src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype")
}
/* regular */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 400;
	font-display: swap;
    src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype")
}
/* medium */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 500;
	font-display: swap;
    src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype")
}
/* bold */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 700;
	font-display: swap;
    src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype")
}
/* extrabold */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 900;
	font-display: swap;
    src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), url(../fonts/NotoSansKR-Black.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype")
}
