@charset "utf-8";


/* sweetalert2 */
div:where(.swal2-container) div:where(.swal2-popup) {width:calc(100vw - 72px);border-radius:8px;padding-bottom:0;overflow:hidden;}

div:where(.swal2-container) h2:where(.swal2-title) {font-size:18px;color:var(--typography-title);text-align:left;padding:24px 24px 8px;font-weight:500;}
div:where(.swal2-container) .swal2-html-container {margin:16px 24px 0;}
div:where(.swal2-container) div:where(.swal2-actions).btn-wrap {margin:0;padding:16px;}
div:where(.swal2-container) div:where(.swal2-actions) .btn-alert {flex:1;font-size:16px;font-weight:700;line-height:60px;color:var(--gray900);text-align:center;}
div:where(.swal2-container) div:where(.swal2-actions) .btn-alert:not(:last-child) {border-right:1px solid var(--gray100);}

div:where(.swal2-container) {z-index:calc(var(--header-zIndex) +  1001);padding:0;transition:background-color .3s;}
div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {background:var(--status-dimmed);}
@keyframes swal2-show {
    0% {transform:scale(0.99)}
    45% {transform:scale(1.01)}
    80% {transform:scale(0.99)}
    100% {transform:scale(1)}
}
div:where(.swal2-container) button:where(.swal2-close) {position:absolute;font-size:0;width:24px;height:24px;right:24px;top:24px;background:url(../images/ico/ico_close.svg) center center / contain no-repeat;}
div:where(.swal2-container) button:where(.swal2-close):hover {}



/* micromodal */
.modal {font-family:inherit;}
.micromodal-slide.is-open {position:relative;z-index:calc(var(--header-zIndex) +  1000);}
.modal__container {padding:0;max-width:none;max-height: calc(100% - 40px);flex:1 1 100%;background-color:var(--white-100);border-radius:20px 20px 0 0;display:flex;flex-direction:column;}
.modal__content {margin:0;line-height:inherit;color:inherit;padding:0;border-radius:0;flex:1 1 calc(100% - 56px);overflow-y:auto;}

.modal__header {position:sticky;top:0;left:0;width:100%;padding:14.5px 16px;background-color:var(--white-100);}
.modal__header__alert {padding:24px 24px 8px;min-height:40px;}
.modal__header .modal__title {flex:1 1 100%;display:flex;justify-content:center;}
.modal__header .modal__close {position:absolute;right:0;top:0;width:27px;height:27px;padding:14.5px 16px;display:flex;align-items:center;justify-content:center;box-sizing:content-box;}
.modal__header .modal__close:before {content:'';flex:0 0 24px;width:24px;height:24px;background:url(../images/ico/ico_close.svg) center center / contain no-repeat;}
.modal__header__alert .modal__close {padding:24px 24px 8px;}

.modal__content__alert .body-large {padding:0 8px;}

.modal__footer_alert .btn-wrap {padding-top:40px;}

.modal__overlay {display:block;background:var(--status-dimmed);}


.micromodal-slide .modal__container, .micromodal-slide .modal__overlay {will-change:initial;}
.micromodal-slide-bottom .modal__overlay {display:flex;align-items:flex-end;}
.micromodal-slide-bottom .modal__container {overflow:none;}
.micromodal-slide-bottom .modal__content {/* background-color:var(--white-100); *//* padding:30px 16px 20px; *//* border-radius:20px 20px 0 0; *//* max-height:80vh; *//* overflow-y:auto; */}

.micromodal-slide-dropdown .modal__container {position:absolute;background-color:var(--white);padding:10px 24px;border-radius:12px;}

@keyframes mmslideIn {
    from {
        transform:translateY(5%);
    }

    to {
        transform:translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform:translateY(0);
    }

    to {
        transform:translateY(5%);
    }
}

/* jstree icons */
/* jstree folder */
.jstree-work .jstree-default .jstree-node,
.jstree-work .jstree-default .jstree-icon {}
.jstree-work .jstree-default .jstree-closed>.jstree-ocl {background:url(../images/form/form-jstree-closed.svg) center center / 12px 12px no-repeat;}
.jstree-work .jstree-default .jstree-open>.jstree-ocl {background:url(../images/form/form-jstree-open.svg) center center / 12px 12px no-repeat;}
.jstree-work .jstree-anchor>.jstree-themeicon {display:none;}
.jstree-work.jstree-folder .jstree-anchor>.jstree-themeicon {display:inline-block;background:url(../images/ico/ico-folder-16.svg) center center / 16px 16px no-repeat;}



/* toastr */
#toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div {width:auto;margin:0 16px;}
#toast-container>div {border-radius:8px;padding:10px 20px;box-shadow:none;-webkit-box-shadow:none;opacity:1;background:var(--surface-surface800);}
.toast-title,
.toast-message {font-size:16px;color:var(--white-100);font-weight:400;}
.toast-message {margin-top:10px;}
.btn-toast-wrap {display:flex;justify-content:flex-end;}
.toast-success .toast-title,
.toast-info .toast-title,
.toast-warning .toast-title,
.toast-error .toast-title {position:relative;padding-left:24px;}
.toast-success .toast-title:before,
.toast-info .toast-title:before,
.toast-warning .toast-title:before,
.toast-error .toast-title:before {content:'';position:absolute;left:0;top:3px;width:20px;height:20px;}
.toast-success .toast-title:before {background:url(../images/toastr/ico_success.svg) center center / contain no-repeat;}
.toast-info .toast-title:before {background:url(../images/toastr/ico_info.svg) center center / contain no-repeat;}
.toast-warning .toast-title:before {background:url(../images/toastr/ico_warning.svg) center center / contain no-repeat;}
.toast-error .toast-title:before {background:url(../images/toastr/ico_error.svg) center center / contain no-repeat;}
.toast-bottom-center {bottom:12px;}
.toast-bottom-center.has-bottom-btn {bottom:76px;}
#toast-container>div:hover {box-shadow:none;}