@charset "utf-8";

/* button */
.btn-large {display:inline-flex;align-items:center;justify-content:center;height:46px;font-size:16px;border-radius:8px;padding:0 10px;white-space:nowrap;text-align:center;vertical-align:top;}
.btn-medium {display:inline-flex;align-items:center;justify-content:center;height:32px;font-size:13px;border-radius:8px;padding:0 10px;font-weight:500;white-space:nowrap;text-align:center;vertical-align:top;}
.btn-small {display:inline-flex;align-items:center;justify-content:center;height:26px;font-size:12px;border-radius:16px;padding:0 10px;white-space:nowrap;text-align:center;vertical-align:top;}
 
.btn-xlarge:hover,
.btn-large:hover,
.btn-small:hover {cursor:pointer;}

.btn-large:disabled,
.btn-medium:disabled,
.btn-small:disabled {border-color:var(--grayd2);color:var(--graya7);background-color:var(--graye6);}

.btn-black {background-color:var(--black);border:1px solid transparent;color:var(--white);}
.btn-red {background-color:var(--red50);border:1px solid var(--red300);color:var(--gray900);}
.btn-gray {background-color:var(--gray100);border:1px solid var(--gray150);color:var(--gray900);}
.btn-outline-black {background-color:var(--white);border:1px solid var(--gray200);color:var(--black);}
.btn-outline-red {background-color:var(--white);border:1px solid var(--red600);color:var(--red600);}

.btn-round {border-radius:50px;}

.btn-size30 {display:flex;width:30px;height:30px;flex:0 0 30px;align-items:center;justify-content:center;}
.btn-size24 {display:flex;width:24px;height:24px;flex:0 0 24px;align-items:center;justify-content:center;}
.btn-size20 {display:flex;width:20px;height:20px;flex:0 0 20px;align-items:center;justify-content:center;}
.btn-ico i  {display:flex;width:inherit;height:inherit;flex:inherit;align-items:center;justify-content:center;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.btn-round-red30 {border-radius:50%;border:1px solid var(--red200);background-color:var(--red50);}
.btn-text {display:inline-flex;width:auto;flex:0;white-space:nowrap;vertical-align:top;gap:4px;font-size:15px;font-weight:700;color:var(--gray600);}
.btn-text i {display:block;width:30px;height:30px;flex:0 0 30px;}
.btn-fluid {width:100%;justify-content:space-between;}

/* btn-inner-ico */
.btn-inner-ico.btn-medium {gap:10px;;}
.btn-inner-ico.btn-small {gap:4px;}
.btn-inner-ico i {display:flex;align-items:center;justify-content:center;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.btn-inner-ico.btn-medium i {width:16px;height:16px;flex:0 0 16px;}
.btn-inner-ico.btn-small i {width:14px;height:14px;flex:0 0 14px;}

/* 30 */
.btn-size30 .i-refresh {background-image:url(../images/btn/inner-refresh.svg);background-size:24px 24px;}
.btn-size30 .i-close {background-image:url(../images/btn/inner-close.svg);background-size:24px 24px;}
.btn-size30 .i-back {background-image:url(../images/btn/inner-back.svg);background-size:24px 24px;}
.btn-size30 .i-modify {background-image:url(../images/btn/inner-modify.svg);background-size:24px 24px;}
.btn-size30 .i-search {background-image:url(../images/btn/inner-search.svg);background-size:24px 24px;}
.btn-size30 .i-menu {background-image:url(../images/btn/inner-menu.svg);background-size:24px 24px;}
.btn-size30 .i-chat {background-image:url(../images/btn/inner-chat.svg);background-size:22px 22px;}
.btn-size30 .i-call {background-image:url(../images/btn/inner-call.svg);background-size:22px 22px;}
.btn-size30 .i-mail {background-image:url(../images/btn/inner-mail.svg);background-size:22px 22px;}
.btn-size30 .i-info {background-image:url(../images/btn/inner-info.svg);background-size:22px 22px;}
.btn-size30 .i-sort {background-image:url(../images/btn/inner-sort.svg);}
.btn-size30 .i-delete {background-image:url(../images/btn/inner-delete.svg);background-size:24px 24px;}
.btn-size30 .i-mail-reply {background-image:url(../images/btn/inner-mail-reply.svg);background-size:24px 24px;}
.btn-size30 .i-mail-reply-all {background-image:url(../images/btn/inner-mail-reply-all.svg);background-size:24px 24px;}
.btn-size30 .i-mail-relay {background-image:url(../images/btn/inner-mail-relay.svg);background-size:24px 24px;}


.chevron {display:flex;justify-content:space-between;align-items:center;}

.toggleCont .chevron.btn-dep02 {color:var(--gray900);}
.toggleCont .chevron.btn-dep02:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-dep02.svg) center center / contain no-repeat;margin-right:10px;}
.toggleCont .has-dep .chevron.btn-dep02:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-has-dep02.svg) center center / contain no-repeat;margin-right:10px;}
li.toggleCont.is-toggle > .has-dep .chevron.btn-dep02:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-has-dep02-active.svg) center center / contain no-repeat;margin-right:10px;}

.chevron.btn-dep02:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-dep01.svg) center center / contain no-repeat;} 
.chevron.btn-dep03:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-dep01.svg) center center / contain no-repeat;margin-left:20px;} 
.chevron.btn-dep04:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-dep01.svg) center center / contain no-repeat;margin-left:40px;} 
.chevron.btn-dep05:before {content:'';flex:0 0 20px;width:20px;height:20px;background:url(../images/btn/btn-dep01.svg) center center / contain no-repeat;margin-left:60px;} 

.chevron-30 {display:flex;justify-content:space-between;align-items:center;}
.chevron-30:after {content:'';flex:0 0 30px;width:30px;height:30px;background:url(../images/btn/inner-chevron.svg) center center / 24px 24px no-repeat;margin-left:auto;}
.chevron-30.chevron-down:after {background:url(../images/btn/inner-chevron-down.svg) center center / 24px 24px no-repeat;}
.chevron-30.chevron-left:after {background:url(../images/btn/inner-chevron-left.svg) center center / 24px 24px no-repeat;}


/* 24 */
.btn-size24 .i-refresh {background-image:url(../images/btn/inner-refresh-24.svg);}
.btn-size24 .i-close {background-image:url(../images/btn/inner-close-24.svg);}
.btn-size24 .i-back {background-image:url(../images/btn/inner-back-24.svg);}
.btn-size24 .i-modify {background-image:url(../images/btn/inner-modify-24.svg);}
.btn-size24 .i-search {background-image:url(../images/btn/inner-search-24.svg);}
.btn-size24 .i-search-gray {background-image:url(../images/btn/inner-search-24-gray.svg);}
.btn-size24 .i-menu {background-image:url(../images/btn/inner-menu-24.svg);}
.btn-size24 .i-favorite {background-image:url(../images/btn/inner-favorite-24.svg);}
.btn-size24 .i-favorite-active {background-image:url(../images/btn/inner-favorite-24-active.svg);}
.btn-size24 .i-favorite {background-image:url(../images/btn/inner-favorite-24.svg);}
.btn-size24.btn-active .i-favorite {background-image:url(../images/btn/inner-favorite-24-active.svg);}
.btn-size24 .i-download {background-image:url(../images/btn/inner-download-24.svg);}
.btn-size24 .i-view {background-image:url(../images/btn/inner-view-24.svg);}
.btn-size24 .i-group {background-image:url(../images/btn/inner-group-24.svg);}

.chevron-24 {display:flex;justify-content:space-between;align-items:center;}
.chevron-24:after {content:'';flex:0 0 24px;width:24px;height:24px;background:url(../images/btn/inner-chevron.svg) center center / 24px 24px no-repeat;}
.chevron-24.chevron-down:after {background:url(../images/btn/inner-chevron-down.svg) center center / 24px 24px no-repeat;}
.chevron-24.chevron-left:after {background:url(../images/btn/inner-chevron-left.svg) center center / 24px 24px no-repeat;}
.btn-ico-more {display:flex;justify-content:space-between;align-items:center;flex:0 0 24px;width:24px;height:24px;background:url(../images/btn/btn-ico-more.svg) center center / contain no-repeat;}

/* 20 */
.btn-size20 .i-more {background-image:url(../images/btn/inner-more-20.svg);}
.btn-size20 .i-remove {background-image:url(../images/btn/inner-remove-20.svg);}
.btn-size20 .i-picture {background-image:url(../images/btn/inner-picture-20.svg);}
.btn-size20 .i-emoji {background-image:url(../images/btn/inner-emoji-20.svg);}
.btn-size20 .i-file {background-image:url(../images/btn/inner-file-20.svg);}
.btn-size20 .i-camera {background-image:url(../images/btn/inner-camera-20.svg);}
.btn-size20 .i-modify {background-image:url(../images/btn/inner-modify-20.svg);}
.btn-size20 .i-delete {background-image:url(../images/btn/inner-delete-20.svg);}

/* 14 */
.i-plus {background-image:url(../images/btn/inner-plus-14.svg);}
.i-arrow {background-image:url(../images/btn/inner-arrow-14.svg);}
.i-close {background-image:url(../images/btn/inner-close-16.svg);}
.i-dday {background-image:url(../images/btn/inner-dday-14.svg);}
.i-thumbsup {background-image:url(../images/btn/inner-thumbsup-16.svg);background-size:16px 16px;}
b.thumbsup-count {display:flex;min-width:20px;height:20px;line-height:20px;font-size:12px;font-weight:400;color:var(--white);border-radius:50px;background-color:var(--red500);align-items:center;justify-content:center;padding:0 7px;}
.i-view {background-image:url(../images/btn/inner-view-16.svg);background-size:16px 16px;}
.i-file {background-image:url(../images/btn/inner-file-16.svg);}
.i-opinion {background-image:url(../images/btn/inner-opinion-16.svg);}

.i-edit {background-image:url(../images/btn/inner-edit-14.svg);}
.i-cancel {background-image:url(../images/btn/inner-cancel-14.svg);}

/* btn-ratio */
.btn-ratio {padding:0;aspect-ratio:1 / 1;}
.btn-ratio i {flex:0 0 24px;width:24px;height:24px;}
.i-filter {background:url(../images/btn/inner-filter.svg) center center / contain no-repeat;}


/* btn-search-wrap */
.btn-search-wrap {display:flex;align-items:center;justify-content:center;white-space:nowrap;border:1px solid var(--grayb0);border-radius:8px;padding:2px 4px 2px 12px;gap:2px;}
.btn-search-wrap a {font-size:13px;font-weight:500;}
.btn-search-wrap button {flex:0 0 24px;width:24px;height:24px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:cover;
    mask-size:cover;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--grayb0);
    -webkit-mask-image:url(../images/btn/btn-search-delete.svg);
    mask-image:url(../images/btn/btn-search-delete.svg);
}
.btn-search-wrap:hover {border-color:var(--blue1);}
.btn-search-wrap:hover button {background-color:var(--blue1);}


/* btn-wrap */
.btn-wrap {display:flex;}
.btn-wrap:has(.center) {justify-content:center;}
.btn-wrap:has(.left) {justify-content:flex-start;}
.btn-wrap:has(.right) {justify-content:flex-end;}
.btn-wrap > *:is(div) {display:flex;gap:10px;}


/* label */
.label {display:inline-flex;line-height:29px;border-radius:6px;padding:0 16px;font-size:14px;vertical-align:middle;white-space:nowrap;}
.label.label-orange {background-color:var(--orange);color:var(--white);}
.label.label-lightgray {background-color:var(--grayf5);color:var(--black7);}

.table-col .label,
.table-row .label {margin-right:3px;}


/* form */ 
input:not([type="checkbox"],[type="radio"],[type="file"]) {height:50px;background-color:var(--white);border:0;padding:0;font-size:16px;color:var(--gray950);font-weight:700;width:100%;border-radius:6px;}
input:not([type="checkbox"],[type="radio"],[type="file"])::placeholder {color:var(--gray300);font-weight:400;}
input:not([type="checkbox"],[type="radio"],[type="file"])[readonly] {}
input:not([type="checkbox"],[type="radio"],[type="file"])[disabled] {color:var(--gray400);}
input[type="file"]:not(.inp-file) {appearance:none;position:absolute;opacity:0;z-index:-100;width:0!important;height:0!important;padding:0!important;}
input[type="file"]::-webkit-file-upload-button {display:none;}

label:has(input[type="file"]) {position:relative;}
label:has(input[type="file"]):focus-within {outline-offset:-2px;outline:2px solid #000;}
input[type="date"],
input[type="datetime-local"] {position:relative;appearance:none;}
input[type="date"]::-webkit-date-and-time-value,
input[type="datetime-local"]::-webkit-date-and-time-value {flex:1 1 100%;width:calc(100% - 24px);}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {content:'';display:flex;align-items:center;justify-content:center;flex:0 0 24px;width:24px;height:24px;background:url(../images/form/form-datepcier.svg) right center / 24px 24px no-repeat;padding:0;position:relative;z-index:1;}
input[type="date"]:after,
input[type="datetime-local"]:after {content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);flex:0 0 24px;width:24px;height:100%;background:url(../images/form/form-datepcier.svg) right center / 24px 24px no-repeat;z-index:0;}

[data-datepicker]{background-image:url(../images/form/form-datepcier.svg);background-position: right center;background-size:24px 24px;background-repeat:no-repeat;}

.inp-file {display:flex;align-items:center;height:50px;background-color:var(--white);border:0;padding:0;font-size:16px;color:var(--gray950);line-height:50px;font-weight:700;width:100%;border-radius:6px;}
.inp-file[disabled] {color:var(--gray400);}


textarea {height:120px;background-color:var(--white);border:0;padding:0;font-size:16px;color:var(--gray950);border-radius:6px;width:100%;}
textarea::-webkit-input-placeholder {color:var(--gray300);}
textarea[readonly] {}
textarea[disabled] {color:var(--gray400);}

select {appearance:none;font-size:16px;font-weight:700;color:var(--gray900);border-radius:6px;padding:0 34px 0 0;width:100%;height:50px;border:0;background:url(../images/form/form-select.svg) right center / 24px 24px no-repeat var(--white);}
select[disabled] {background-color:var(--graye6);color:var(--graya7);}


/* input type cheeckbox */
.inp {display:inline-flex;align-items:center;justify-content:center;gap:10px;vertical-align:top;}
.inp input[type="checkbox"] {position:relative;display:flex;align-items:center;justify-content:center;appearance:none;cursor:inherit;flex:0 0 22px;width:22px;height:22px;background:url(../images/form/form-checkbox.svg) center center no-repeat;transition:transform var(--cubic);}
.inp input[type="checkbox"]:not([disabled]):active {transform:scale(.8);}
.inp input[type="checkbox"]:checked {background:url(../images/form/form-checkbox-checked.svg) center center / contain no-repeat;}
.inp input[type="checkbox"][disabled] {background:url(../images/form/form-checkbox-disabled.svg) center center / contain no-repeat;}

.inp input[type="radio"] {position:relative;display:flex;align-items:center;justify-content:center;appearance:none;cursor:inherit;flex:0 0 22px;width:22px;height:22px;background:url(../images/form/form-radio.svg) center center no-repeat;transition:transform var(--cubic);}
.inp input[type="radio"]:not([disabled]):active {transform:scale(.8);}
.inp input[type="radio"]:checked {background:url(../images/form/form-radio-checked.svg) center center no-repeat;}
.inp input[type="radio"][disabled] {background:url(../images/form/form-radio-disabled.svg) center center no-repeat;}
.inp input[type="radio"][disabled]:not(:checked):before {}
.inp input[type="radio"][disabled]:checked:before {border-color:var(--graye6);}



.inp b {font-size:14px;font-weight:500;line-height:28px;white-space:nowrap;}

/* inp-switch */
.inp-switch {display:flex;align-items:center;justify-content:space-between;gap:10px;}
.inp-switch b {font-size:16px;font-weight:700;color:var(--gray900);}
.inp-switch input {display:flex;flex:0 0 56px;width:56px;height:30px;appearance:none;cursor:inherit;background:url(../images/form/form-toggle.svg) center center / contain no-repeat;}
.inp-switch input:checked {background:url(../images/form/form-toggle-checked.svg) center center / contain no-repeat;}
.inp-sorting b {display:flex;justify-content:space-between;align-items:center;flex:1 1 100%;}

/* inp-btn */
.inp-btn {position:relative;display:inline-flex;align-items:center;justify-content:center;padding:0 12px;vertical-align:top;}
.inp-btn input {appearance:none;position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid var(--gray200);background-color:var(--white);z-index:0;border-radius:50px;}
.inp-btn input:checked {background-color:var(--gray900);border-color:transparent;}
.inp-btn b {font-size:15px;line-height:34px;font-weight:400;color:var(--gray900);white-space:nowrap;z-index:1;}
.inp-btn input:checked + b {color:var(--white);}
/* inp-btn:focus-within {outline:2px solid black;} */

/* inp-box */
.inp-box {position:relative;display:inline-flex;align-items:center;justify-content:center;padding:0 12px;}
.inp-box input {appearance:none;position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid var(--gray300);background-color:var(--white);z-index:0;border-radius:8px;}
.inp-box input:checked {background-color:var(--red50);border-color:var(--red300);}
.inp-box b {font-size:15px;line-height:40px;font-weight:400;color:var(--gray900);white-space:nowrap;position:relative;z-index:1;}
.inp-box input:checked + b {color:var(--black900);}

/* inp-thumb */
.inp-thumb {position:relative;padding:6px;flex:0 0 130px;width:130px;height:130px;gap:0;background-color:var(--white);border-radius:12px;box-shadow:1px 1px 2px 0px rgba(215, 219, 227, 0.50);}
.inp-thumb picture {width:100%;height:100%;}
.inp-thumb picture img {border-radius:0;}
.inp-thumb.inp input[type="radio"] {position:absolute;left:14px;top:14px;background-color:var(--white);border-radius:50%;}
.inp-thumb-remove:after {display:block;content:'';position:absolute;right:6px;top:6px;width:24px;height:24px;background:url(../images/ico/ico-thumb-remove.svg) center center / contain no-repeat;}


/* dropDown */
.dropDown {position:relative;z-index:var(--dropdown-zIndex);}
.dropDown.is-dropdown {z-index:calc(var(--dropdown-zIndex) + 1);}
.dropDown .trigger:not(.not-button) {display:flex;font-size:14px;line-height:36px;gap:8px;padding:0 38px 0 12px;border:1px solid var(--grayd2);width:100%;border-radius:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-width:130px;}
.dropDown .trigger:not(.not-button):after {content:'';position:absolute;right:7px;top:50%;transform:translateY(-50%);width:24px;height:24px;margin-left:auto;background:url(../images/form/form-select.svg) center center / contain no-repeat;}
.dropDown.is-dropdown .trigger:not(.not-button) {border-radius:8px 8px 0 0;border-bottom-color:transparent;}
.dropDown:not(.is-dropdown) .target {display:none;}
.dropDown .target {position:absolute;left:0;top:calc(100% - 1px);width:100%;min-width:130px;max-height:182px;background-color:#fff;border:1px solid var(--grayd2);border-top-color:transparent;border-radius:0 0 8px 8px;overflow-x:hidden;overflow-y:auto;}
.dropDown .target.position-right {left:auto;right:0;}
.dropDown .target.position-center {left:50%;transform:translateX(-50%);}

.dropDown > .target:before {content:'';position:absolute;left:12px;right:12px;top:0;background-color:var(--grayd2);height:1px;}
.dropDown:has(.not-button) > .target {border-top-color:var(--grayd2);border-radius:8px;top:calc(100% + 10px);}
.dropDown:has(.not-button) > .target:before {display:none;}
.dropDown > .target > li > a,
.dropDown > .target > li > button {display:block;width:100%;font-size:14px;line-height:20px;padding:8px 12px;word-wrap:break-word;color:var(--graya);}
.dropDown > .target > li > a:hover,
.dropDown > .target > li > button:hover {background-color:var(--graye9);}
.dropDown > .target > li.is-selected > a,
.dropDown > .target > li.is-selected > button {color:var(--black2);}
.dropDown.has-title .target {border-radius:0;box-shadow:0px 4px 10px 0px rgba(0, 0, 0, 0.10);min-width:300px;border:0;min-height:0;max-height:215px;}
.dropDown.has-title .target .target-title {display:flex;align-items:flex-end;justify-content:space-between;padding:15px 20px 10px;background-color:var(--white);}
.dropDown.has-title .target .target-title strong {font-size:18px;font-weight:700;color:var(--black19);line-height:32px;}
.dropDown.has-title .target > ul {border:1px solid var(--graye6);background-color:var(--grayf5);padding:10px 0;}
.dropDown.has-title .target > ul li > * {display:flex;padding:10px 20px;font-size:16px;font-weight:500;color:var(--black19);}
.dropDown.has-title .target .nodata {margin:40px 0;}

/* form */
.form {display:flex;gap:10px;background-color:var(--white);padding:0 16px 16px;flex:1 1 100%;}
.form > *:not(.bul,.input-wrap,textarea,.inp,.btn-large,.btn-medium,.btn-small) {flex:1;background-color:var(--gray100);border-radius:8px;padding:0 20px 0 16px;}
.form .bul {display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:700;color:var(--black);}
.form input:not([type="checkbox"],[type="radio"],[type="file"])  {background-color:var(--gray100);height:44px;color:var(--gray950);padding:0 44px 0 16px;}
.form input[type="date"] {padding:0 12px;}
.form input[type="date"]:after {right:12px;}
.form textarea {padding:10px;background-color:var(--gray100);}
.form select {flex:none;height:44px;width:auto;}
.form input[data-datepicker] {background-position:right 12px center}

.form .input-wrap textarea {border-radius:0;background-color:transparent;}

.form .input-wrap {position:relative;display:flex;flex:1 1 100%;}
.form .btn-large {height:44px;}
.form .input-wrap-btn2 input {padding-right:84px;}
.form .form-btn {position:absolute;right:16px;top:50%;width:28px;height:28px;margin-top:-14px;}
.form .input-wrap-btn2 .form-btn:not(:last-child) {right:50px}
.form .form-delete {background:url(../images/form/form-delete.svg) center center / contain no-repeat;z-index:1;background-size:24px 24px;}
.form .form-search {background:url(../images/form/form-search.svg) center center / contain no-repeat;z-index:1;background-size:24px 24px;}
.form .form-send {background:url(../images/form/form-send.svg) center center / contain no-repeat;z-index:1;background-size:24px 24px;}
.form .form-attach {background:url(../images/form/form-attach.svg) center center / contain no-repeat;z-index:1;background-size:24px 24px;}
.form-list {display:flex;gap:10px 30px;flex-wrap:wrap;}
.form-list .inp b {font-size:16px;font-weight:700;color:var(--gray900);}


/* tab-content */ 
.tab-content {}
.tab-content .tab-list {position:relative;display:flex;z-index:calc(var(--dropdown-zIndex) - 8);margin-bottom:10px;padding:4px 16px 0;gap:20px;}
.tab-content .tab-list li {flex:1;}
.tab-content .tab-list li button,
.tab-content .tab-list li a {position:relative;display:flex;line-height:46px;align-items:center;justify-content:center;font-size:16px;font-weight:400;color:var(--gray600);/* background-color:var(--white); */white-space:nowrap;width:100%;}
.tab-content .tab-list li.tab-active button,
.tab-content .tab-list li.tab-active a {color:var(--gray900);font-weight:700;}
.tab-content .tab-list li.tab-active button:after,
.tab-content .tab-list li.tab-active a:after {content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:var(--red400);}

/* tab-content-type02 */
.tab-content-type02 {}
.tab-content-type02 .tab-list {position:relative;display:flex;border-bottom:1px solid var(--graye6);gap:20px;margin-bottom:10px;}
.tab-content-type02 .tab-list li {}
.tab-content-type02 .tab-list li button,
.tab-content-type02 .tab-list li a {position:relative;display:flex;align-items:center;justify-content:center;font-size:14px;font-weight:500;color:var(--black19);padding:0 0 7px;white-space:nowrap;}
.tab-content-type02 .tab-list li.tab-active button,
.tab-content-type02 .tab-list li.tab-active a {font-weight:700;color:var(--blue1);}
.tab-content-type02 .tab-list li.tab-active button:after,
.tab-content-type02 .tab-list li.tab-active a:after {content:'';position:absolute;left:0;bottom:-1px;width:100%;height:2px;background-color:var(--blue1);}


/* nodata */
.nodata {display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;height:100vh;font-size:16px;font-weight:700;}
.nodata:before strong {margin-top:24px;}
.nodata span {font-size:16px;color:#666;margin-top:14px;}

/* overflow-list */
.overflow-list {display:flex!important;flex-wrap:nowrap!important;overflow-x:auto;scroll-snap-type:x mandatory;gap:6px;}

/* message-wrap */
.message-wrap {display:flex;align-items:center;gap:4px;font-size:14px;color:var(--gray300);}
.message-wrap:before {content:'';flex:0 0 16px;width:16px;height:16px;background:url(../images/ico/ico-message.svg) center center / contain no-repeat;}


/* pagination */
.pagination {display:flex;align-items:center;justify-content:center;gap:0;padding:10px 0;}
.pagination a.disabled {opacity:0.3;}
.pagination a {display:flex;align-items:center;justify-content:center;min-width:34px;width:34px;height:34px;font-size:15px;line-height:34px;font-weight:4;color:var(--graya7);}
.pagination a.first,
.pagination a.prev,
.pagination a.next,
.pagination a.last {border-radius:6px;}
.pagination a.first {margin-right:4px;background:url(../images/pagination/arrow-first.svg) no-repeat;}
.pagination a.prev {margin-right:4px;background:url(../images/pagination/arrow-prev.svg) no-repeat;}
.pagination a.next {margin-left:4px;background:url(../images/pagination/arrow-next.svg) no-repeat;}
.pagination a.last {margin-left:4px;background:url(../images/pagination/arrow-last.svg) no-repeat;}
.pagination a.active {color:var(--white);font-weight:700;border-radius:10px;background-color:var(--red400);}
