@charset "utf-8";

/* button */
.btn-large {display:inline-flex;align-items:center;justify-content:center;height:52px;font-size:18px;border-radius:8px;padding:16px;white-space:nowrap;text-align:center;vertical-align:top;gap:4px;line-height:1;}
.btn-medium {display:inline-flex;align-items:center;justify-content:center;height:48px;font-size:16px;border-radius:8px;padding:14px 16px;white-space:nowrap;text-align:center;vertical-align:top;gap:4px;line-height:1;}
.btn-small {display:inline-flex;align-items:center;justify-content:center;height:32px;font-size:14px;border-radius:8px;padding:6px 12px;white-space:nowrap;text-align:center;vertical-align:top;gap:4px;line-height:1;}
.btn-large,
.btn-medium,
.btn-small {transition:background-color 0.1s ease;}

.btn-noborder {display:inline-flex;align-items:center;justify-content:center;height:40px;font-size:14px;padding:12px;white-space:nowrap;text-align:center;vertical-align:top;gap:4px;line-height:1;}

.btn-border {display:inline-flex;align-items:center;justify-content:center;width:40px;height:40px;border-radius:8px;border:1px solid var(--border-8);background:var(--background-bg_white);}
.btn-border.is-active {background: var(--background-bg_gray);border-color:transparent;}

.btn-primary {background-color:var(--button-primary-enabled);color:var(--button-primary-onEnabled);}
.btn-primary:not([aria-disabled="true"]):active {background:var(--button-primary-pressed);}
.btn-primary[aria-disabled="true"] {background:var(--button-primary-disabled);color:var(--button-primary-onDisabled);}

.btn-secondary {background:var(--button-secondary-enabled);color:var(--button-secondary-onEnabled);}
.btn-secondary:not([aria-disabled="true"]):active {background:var(--button-secondary-pressed);}
.btn-secondary[aria-disabled="true"] {background:var(--button-secondary-disabled);color:var(--button-secondary-onDisabled);}

.btn-tertiary {background:var(--button-tertiary-enabled);color:var(--button-tertiary-onEnabled);}
.btn-tertiary:not([aria-disabled="true"]):active {background:var(--button-tertiary-pressed);}
.btn-tertiary[aria-disabled="true"] {background:var(--button-tertiary-disabled);color:var(--button-tertiary-onDisabled);}

.btn-outlined {background-color:var(--button-outlined-enabled);color:var(--button-outlined-onEnabled);border:1px solid var(--button-outlined-border);}
.btn-outlined:not([aria-disabled="true"]):active {background:var(--button-outlined-pressed);}
.btn-outlined[aria-disabled="true"] {background:var(--button-outlined-disabled);color:var(--button-outlined-onDisabled);}

.btn-ghost {background:var(--button-ghost-enabled);color:var(--button-ghost-onEnabled);border:1px solid var(--button-ghost-border);}
.btn-ghost:not([aria-disabled="true"]):active {background:var(--button-ghost-pressed);}
.btn-ghost[aria-disabled="true"] {background:var(--button-ghost-disabled);color:var(--button-ghost-onDisabled);}

.btn-ghost-white {color:var(--button-ghostw-onEnabled);border:1px solid var(--button-ghostw-border);}
.btn-ghost-white:not([aria-disabled="true"]):active {background:var(--button-ghostw-pressed);}

.btn-black {color:var(--button-primary-onEnabled);background-color:var(--black-80);}


.btn-noborder {color:var(--button-textBtn-Enabled);}

.btn-round {border-radius:50px;}

.anchor {display:inline-flex;color:var(--button-textBtn-Enabled);line-height:1;}
.anchor.chevron {align-items:center;gap:8px;}
.anchor.chevron:after {content:'';display:flex;align-items:center;justify-content:center;flex:0 0 6px;width:6px;height:12px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:contain;
    mask-size:contain;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    -webkit-mask-image:url(../images/arrow/ico_textBtnLink_12_gr.svg);
    mask-image:url(../images/arrow/ico_textBtnLink_12_gr.svg);
    background-color:var(--button-textBtn-Enabled);
}
.chevron-only {display:inline-flex;width:16px;height:16px;flex:0 0 16px;background:url(../images/arrow/ic_arw_link_gray_16.svg) center center / contain no-repeat;}

/* button inner icon */
.btn-large > i,
.btn-medium > i,
.btn-small > i {display:block;
    -webkit-mask-position:center center;-webkit-mask-repeat:no-repeat;-webkit-mask-size:contain;mask-position:center center;mask-repeat:no-repeat;mask-size:contain;}
.btn-large > i {width:20px;height:20px;}
.btn-medium > i {width:20px;height:20px;}
.btn-small > i {width:16px;height:16px;}
.btn-noborder > i {width:16px;height:16px;}
.btn-border > i {width:20px;height:20px;}

.btn-primary > i {background-color:var(--button-primary-onEnabled);}
.btn-secondary > i {background-color:var(--button-secondary-onEnabled);}
.btn-tertiary > i {background-color:var(--button-tertiary-onEnabled);}
.btn-outlined > i {background-color:var(--icon-gray_2);}
.btn-ghost > i {background-color:var(--button-ghost-onEnabled);}
.btn-noborder > i {background-color:var(--button-textBtn-Enabled);}
.btn-border > i {background-color:var(--gray-600);}
.btn-border.is-active > i {background-color:var(--status-active);}

i.ico-check {-webkit-mask-image:url(../images/ico/ico_check.svg);mask-image:url(../images/ico/ico_check.svg);}
i.ico-share {-webkit-mask-image:url(../images/ico/ico_share.svg);mask-image:url(../images/ico/ico_share.svg);}
i.ico-delete {-webkit-mask-image:url(../images/ico/ico_delete.svg);mask-image:url(../images/ico/ico_delete.svg);}
i.ico-modify {-webkit-mask-image:url(../images/ico/ico_modify.svg);mask-image:url(../images/ico/ico_modify.svg);}
i.ico-order {-webkit-mask-image:url(../images/ico/ico_order.svg);mask-image:url(../images/ico/ico_order.svg);}
i.ico-add {-webkit-mask-image:url(../images/ico/ico_add.svg);mask-image:url(../images/ico/ico_add.svg);}

i.ico-sorting {-webkit-mask-image:url(../images/ico/ico_sorting.svg);mask-image:url(../images/ico/ico_sorting.svg);}


/* fab */
.fab {display:flex;width:52px;height:52px;box-shadow:0px 6px 24px -8px var(--shadow-gray_3, rgba(12, 12, 13, 0.12));backdrop-filter:blur(8px);align-items:center;justify-content:center;}
.fab-square {border-radius:16px;}
.fab-circle {border-radius:52px;}
.fab.view-more {background:var(--brandPrimary-blue500);}
.fab.view-more:before {content:'';flex:0 0 24px;height:24px;background:url(../images/btn/ico_plus_24_wh.svg) center center / contain no-repeat;}
.fab.scroll-to-top:before {content:'';flex:0 0 24px;height:24px;background:url(../images/btn/ico_gototop_24.svg) center center / contain no-repeat;}

/* typography */
.headline-large {display:block;font-size:24px;line-height:1.4;font-weight:700;color:var(--typography-title);}
.headline-medium {display:block;font-size:22px;line-height:1.4;font-weight:700;color:var(--typography-title);}
.headline-small {display:block;font-size:20px;line-height:1.4;font-weight:700;color:var(--typography-title);}
.title-large {display:block;font-size:18px;line-height:1.5;font-weight:700;color:var(--typography-title);}
.title-medium {display:block;font-size:16px;line-height:1.5;font-weight:700;color:var(--typography-title);}
.title-small {display:block;font-size:14px;line-height:1.5;font-weight:700;color:var(--typography-title);}
.body-xlarge {display:block;font-size:18px;line-height:1.6;font-weight:400;color:var(--typography-body);}
.body-large {display:block;font-size:16px;line-height:1.6;font-weight:400;color:var(--typography-body);}
.body-medium {display:block;font-size:14px;line-height:1.6;font-weight:400;color:var(--typography-body);}
.body-small {display:block;font-size:13px;line-height:1.6;font-weight:400;color:var(--typography-body);}

/* form */ 
input:not([type="checkbox"],[type="radio"],[type="file"]) {height:52px;font-size:16px;font-weight:700;color:var(--typography-black);border-radius:8px;border:1px solid var(--border-12);background:var(--background-bg_white);padding:17px 16px;width:100%;caret-color:var(--status-focused);}
input:not([type="checkbox"],[type="radio"],[type="file"])::placeholder {color:var(--typography-placeholder);font-weight:700;}
input:not([type="checkbox"],[type="radio"],[type="file"])[readonly] {color:var(--typography-gray);border:1px solid var(--border-4);}
input:not([type="checkbox"],[type="radio"],[type="file"])[disabled] {color:var(--typography-placeholder);border:1px solid var(--border-4);background-color:var(--status-disabled_bg);}
input[type="file"]:not(.inp-file) {appearance:none;position:absolute;opacity:0;z-index:-100;width:0!important;height:0!important;padding:0!important;}
input[type="file"]::-webkit-file-upload-button {display:none;}

input[type="date"],
input[type="datetime-local"] {position:relative;appearance:none;}
input[type="date"]::-webkit-date-and-time-value,
input[type="datetime-local"]::-webkit-date-and-time-value {flex:1 1 100%;width:calc(100% - 24px);}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {content:'';display:flex;align-items:center;justify-content:center;flex:0 0 24px;width:24px;height:24px;background:url(../images/form/form-datepcier.svg) right center / 24px 24px no-repeat;padding:0;position:relative;z-index:1;}
input[type="date"]:after,
input[type="datetime-local"]:after {content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);flex:0 0 24px;width:24px;height:100%;background:url(../images/form/form-datepcier.svg) right center / 24px 24px no-repeat;z-index:0;}

[data-datepicker]{background-image:url(../images/form/form-datepcier.svg);background-position:right center;background-size:24px 24px;background-repeat:no-repeat;}

.inp-file {display:flex;align-items:center;height:50px;background-color:var(--white);border:0;padding:0;font-size:16px;color:var(--gray950);line-height:50px;font-weight:700;width:100%;border-radius:6px;}
.inp-file[disabled] {color:var(--gray400);}

textarea {height:120px;background-color:var(--white);border:0;padding:0;font-size:16px;color:var(--gray950);border-radius:6px;width:100%;}
textarea::-webkit-input-placeholder {color:var(--gray300);}
textarea[readonly] {}
textarea[disabled] {color:var(--gray400);}

select {appearance:none;font-size:16px;font-weight:700;color:var(--gray900);border-radius:6px;padding:0 34px 0 0;width:100%;height:50px;border:0;background:url(../images/form/form-select.svg) right center / 24px 24px no-repeat var(--white);}
select[disabled] {background-color:var(--graye6);color:var(--graya7);}


/* input type cheeckbox */
.inp {position:relative;}
.inp-large {padding-left:32px;}
.inp-large label {}
.inp-large input[type="checkbox"] {position:absolute;left:0;top:0px;display:flex;align-items:flex-end;justify-content:center;appearance:none;cursor:inherit;flex:0 0 27px;width:27px;height:27px;background:url(../images/form/form-checkbox-large.svg) center center / 24px 24px no-repeat;}
.inp-large input[type="checkbox"]:checked {background:url(../images/form/form-checkbox-large-checked.svg) center center / 24px 24px no-repeat;}
.inp-large .label-title {display:block;font-size:18px;line-height:1.5;font-weight:700;color:var(--typography-title);}
.inp-large .label-subtitle {display:block;font-size:13px;color:var(--typography-body);margin-top:8px;}

.inp-medium {display:flex;justify-content:space-between;gap:8px;padding-left:32px;}
.inp-medium label {}
.inp-medium input[type="checkbox"] {position:absolute;left:0;top:0px;display:flex;align-items:flex-end;justify-content:center;appearance:none;cursor:inherit;flex:0 0 24px;width:24px;height:24px;background:url(../images/form/form-checkbox-medium.svg) center center no-repeat;}
.inp-medium input[type="checkbox"]:checked {background:url(../images/form/form-checkbox-medium-checked.svg) center center / contain no-repeat;}
.inp-medium .label-title {display:block;font-size:16px;line-height:1.5;color:var(--typography-gray);}
.inp-medium .label-subtitle {display:block;font-size:13px;color:var(--typography-body);margin-top:8px;}


.inp-small {display:flex;justify-content:space-between;gap:8px;padding-left:32px;}
.inp-small label {}
.inp-small input[type="checkbox"] {position:absolute;left:0;top:0px;display:flex;align-items:flex-end;justify-content:center;appearance:none;cursor:inherit;flex:0 0 24px;width:24px;height:24px;background:url(../images/form/form-checkbox-small.svg) center center no-repeat;}
.inp-small input[type="checkbox"]:checked {background:url(../images/form/form-checkbox-small-checked.svg) center center / contain no-repeat;}
.inp-small .label-title {display:block;font-size:13px;line-height:1.6;color:var(--typography-body);margin:2px 0 1px;}
.inp-small .chevron-only {margin-top:2px;}

.inp-large input[type="radio"] {position:absolute;left:0;top:0px;display:flex;align-items:flex-end;justify-content:center;appearance:none;cursor:inherit;flex:0 0 24px;width:24px;height:24px;background:url(../images/form/form-radio-large.svg) center center no-repeat;}
.inp-large input[type="radio"]:checked {background:url(../images/form/form-radio-large-checked.svg) center center no-repeat;}

.inp-tab {display:flex;padding:2px;background:var(--surface-surface100);border-radius:8px;}
.inp-tab label {position:relative;flex:1;display:flex;align-items:center;justify-content:center;}
.inp-tab input[type="radio"] {position:relative;display:flex;align-items:center;justify-content:center;flex:1 1 100%;appearance:none;text-align:center;padding:0 8px;font-size:16px;color:var(--typography-gray);line-height:44px;height:44px;border-radius:8px;background-color:transparent;transition:background-color 0.15s ease;}
.inp-tab input[type="radio"]:before {content:attr(aria-label);}
.inp-tab input[type="radio"]:checked {background-color:var(--background-bg_white);}
.inp-tab input[type="radio"]:after {content:'';position:absolute;left:0;top:50%;width:1px;height:14px;background:var(--border-8);margin-top:-7px;}
.inp-tab input[type="radio"]:checked + input[type="radio"]:after {display:none;}
.inp-tab input[type="radio"]:checked:after {display:none;}
.inp-tab input[type="radio"]:first-child:after {display:none;}

/* inp-toggle */
.inp-toggle label {display:flex;align-items:center;gap:8px;}
.inp-toggle .label-title {font-size:14px;color:var(--typography-gray);}
.inp-toggle input {position:relative;display:flex;flex:0 0 42px;width:42px;height:24px;appearance:none;cursor:inherit;background-color:var(--gray-400);border-radius:42px;transition:background-color 0.15s ease;}
.inp-toggle input:before {content:'';position:absolute;left:3px;top:3px;width:18px;height:18px;background-color:var(--basic-white);filter:drop-shadow(0px 0px 4px var(--shadow-gray_3));border-radius:18px;transition:left 0.15s ease;}
.inp-toggle input:checked {background-color:var(--brandPrimary-blue500);}
.inp-toggle input:checked:before {left:21px;}

/* inp-btn */
.inp-btn {position:relative;display:inline-flex;align-items:center;justify-content:center;padding:0 12px;vertical-align:top;}
.inp-btn input {appearance:none;position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid var(--gray200);background-color:var(--white);z-index:0;border-radius:50px;}
.inp-btn input:checked {background-color:var(--gray900);border-color:transparent;}
.inp-btn b {font-size:15px;line-height:34px;font-weight:400;color:var(--gray900);white-space:nowrap;z-index:1;}
.inp-btn input:checked + b {color:var(--white);}
/* inp-btn:focus-within {outline:2px solid black;} */

/* inp-box */
.inp-box {position:relative;display:inline-flex;align-items:center;justify-content:center;padding:0 12px;}
.inp-box input {appearance:none;position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid var(--gray300);background-color:var(--white);z-index:0;border-radius:8px;}
.inp-box input:checked {background-color:var(--red50);border-color:var(--red300);}
.inp-box b {font-size:15px;line-height:40px;font-weight:400;color:var(--gray900);white-space:nowrap;position:relative;z-index:1;}
.inp-box input:checked + b {color:var(--black900);}

/* inp-thumb */
.inp-thumb {position:relative;padding:6px;flex:0 0 130px;width:130px;height:130px;gap:0;background-color:var(--white);border-radius:12px;box-shadow:1px 1px 2px 0px rgba(215, 219, 227, 0.50);}
.inp-thumb picture {width:100%;height:100%;}
.inp-thumb picture img {border-radius:0;}
.inp-thumb.inp input[type="radio"] {position:absolute;left:14px;top:14px;background-color:var(--white);border-radius:50%;}
.inp-thumb-remove:after {display:block;content:'';position:absolute;right:6px;top:6px;width:24px;height:24px;background:url(../images/ico/ico-thumb-remove.svg) center center / contain no-repeat;}

/* inp-column-list */
.inp-column-list {display:flex;flex-direction:column;gap:16px;margin:24px 0;padding:0 8px;}


/* form */
.form {flex:1;}
.form .label {display:flex;align-items:center;font-size:14px;line-height:1;color:var(--typography-black);margin-bottom:8px;}
.form .label:empty {display:none;}
.form .validate-text {font-size:13px;color:var(--typography-caption);margin-top:2px;}
/* .form .validate-text:empty:before {content:'\00a0';} */
.form-invalid .input-wrap input {border:1px solid var(--status-error);background-color:var(--background-bg_lightRed);}
.form-invalid .validate-text {color:var(--status-error);}

.form-valid .input-wrap input {border:1px solid var(--status-success);}
.form-valid .validate-text {color:var(--status-success);}

/* input-wrap */
.input-wrap {position:relative;}
/* input-wrap has input-button */
.input-wrap.input-btn input {padding-right:52px;}
.input-wrap.input-btn button {position:absolute;right:0;top:0;width:52px;height:52px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:24px 24px;
    mask-size:24px 24px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--icon-default);
}
.input-wrap.input-btn .input-remove {-webkit-mask-image:url(../images/btn/ico_close_24_bk.svg);mask-image:url(../images/btn/ico_close_24_bk.svg);}
.input-wrap.input-btn .input-search {-webkit-mask-image:url(../images/btn/ico_search_24_bk.svg);mask-image:url(../images/btn/ico_search_24_bk.svg);}
.input-wrap.input-btn input[disabled] ~ button {background-color:var(--icon-disabled);}
.input-wrap.input-btn input[disabled] ~ .input-remove {display:none;}

/* tab-content */ 
.tab-content {}
.tab-content .tab-col {position:relative;display:flex;z-index:var(--tab-zIndex);gap:8px;border-bottom:1px solid var(--border-8);}
.tab-content .tab-col li {flex:1;}
.tab-content .tab-col li button,
.tab-content .tab-col li a {position:relative;display:flex;font-size:16px;line-height:50px;align-items:center;justify-content:center;color:var(--typography-gray);width:100%;padding:0 8px;white-space:nowrap;}
.tab-content .tab-col li button:before,
.tab-content .tab-col li a:before {content:'';position:absolute;left:8px;right:8px;bottom:0;height:3px;background:transparent;transition:background 0.3s ease;}
.tab-content .tab-col li.tab-active button,
.tab-content .tab-col li.tab-active a {color:var(--typography-title);font-weight:700;}
.tab-content .tab-col li.tab-active button:before,
.tab-content .tab-col li.tab-active a:before {background:var(--border-72);}

.tab-content .tab-anchor {position:relative;display:flex;z-index:var(--tab-zIndex);gap:8px;}
.tab-content .tab-anchor li {}
.tab-content .tab-anchor li button,
.tab-content .tab-anchor li a {position:relative;display:flex;font-size:14px;line-height:30px;align-items:center;justify-content:center;color:var(--typography-gray);background:var(--background-bg_disabled);padding:0 14px;white-space:nowrap;border-radius:30px;}
.tab-content .tab-anchor li.tab-active button,
.tab-content .tab-anchor li.tab-active a {color:var(--white-100);background:var(--button-primary-enabled);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_3), 0px 3px 12px -1px var(--shadow-gray_3);}

/* overflow-list */
.overflow-list {display:flex!important;flex-wrap:nowrap!important;overflow-x:auto;scroll-snap-type:x mandatory;gap:6px;}

/* description */
.description {position:relative;display:block;padding:4px 0 4px 24px;}
.description:before {position:absolute;left:0;content:'';display:inline-block;width:20px;height:20px;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:20px 20px;
    mask-size:20px 20px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:var(--icon-gray_1);
    -webkit-mask-image:url(../images/ico/ico_description.svg);
    mask-image:url(../images/ico/ico_description.svg);
}
.description.info:before {background-color:var(--status-info);color:var(--status-info);}
.description.caution:before {background-color:var(--status-caution);color:var(--status-caution);}

.description:before {top:6px;}

.description.headline-large:before {top:10px;}
.description.headline-medium:before {top:10px;}
.description.headline-small:before {top:9px;}
.description.title-large:before {top:8px;}
.description.title-medium:before {top:6px;}
.description.title-small:before {top:5px;}
.description.body-xlarge:before {top:8px;}
.description.body-large:before {top:6px;}
.description.body-medium:before {top:5px;}
.description.body-small:before {top:4px;}

.description.al {margin-right:auto;display:table;}
.description.ac {margin-left:auto;margin-right:auto;display:table;}
.description.ar {margin-left:auto;display:table;}

/* tags */
.tags {display:inline-flex;vertical-align:top;}
.tags-small {font-size:13px;font-weight:500;line-height:1;padding:4px 8px;border-radius:4px;}
.tags-medium {font-size:14px;font-weight:500;line-height:1;padding:8px 12px;border-radius:8px;}

.tags-lightBlue {color:var(--blue-600);;background:var(--background-bg_lightBlue)}
.tags-lightGray {color:var(--typography-gray);background:var(--background-bg_ligthGray)}
.tags-lightCyan {color:var(--cyan-600);background:var(--background-bg_lightCyan)}
.tags-lightViolet {color:var(--violet-600);background:var(--background-bg_lightViolet);}
.tags-lightPurple {color:var(--purple-600);background:var(--background-bg_lightPurple)}
.tags-lightRed {color:var(--red-600);background:var(--background-bg_lightRed)}
.tags-lightYellow {color:var(--yellow-800);background:var(--background-bg_lightYellow)}
.tags-lightPink {color:var(--pink-600);background:var(--background-bg_lightPink)}
.tags-disabled_bg {color:var(--status-disabled_font);background:var(--status-disabled_bg);}

.tags-black-80 {color:var(--typography-white);background:var(--black-80);}
.tags-white {color:var(--typography-gray);background:var(--background-bg_white);}
.tags-E6E2F2 {color:var(--violet-600);background:#E6E2F2;}
.tags-blue {color:var(--typography-white);background:var(--background-bg_blue);}
.tags-cyan {color:var(--typography-white);background:var(--background-bg_cyan);}
.tags-purple {color:var(--typography-white);background:var(--background-bg_purple);}
.tags-violet {color:var(--typography-white);background:var(--background-bg_violet);}
.tags-red {color:var(--typography-white);background:var(--background-bg_red);}
.tags-yellow {color:var(--typography-white);background:var(--background-bg_yellow);}
.tags-pink {color:var(--typography-white);background:var(--background-bg_pink);}

/* badge */
.badge {display:inline-block;font-size:13px;font-weight:500;color:var(--typography-gray);line-height:1;padding:6px 8px;border-radius:50px;background-color:var(--background-bg_lightGray);vertical-align:middle;margin-left:8px;}
.select-all .badge,
.tab-active .badge {font-weight:700;}
.select-active i {background-color:var(--background-bg_white);}

/* stroke */
.stroke {background:var(--border-4);height:1px;}
.stroke4 {background:var(--border-8);height:4px;}
/* division */
.division {display:flex;content:'';width:1px;height:18px;align-items:center;justify-content:center;background-color: var(--border-8);}
/* icon */
.icon-only {display:inline-flex;align-items:center;justify-content:center;vertical-align:top;white-space:nowrap;
    -webkit-mask-position:center center;
    mask-position:center center;
    -webkit-mask-size:contain;
    mask-size:contain;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background-color:red;
}
.icon-48 {flex:0 0 48px;width:48px;height:48px;}
.icon-32 {flex:0 0 32px;width:32px;height:32px;}
.icon-28 {flex:0 0 28px;width:28px;height:28px;}
.icon-24 {flex:0 0 24px;width:24px;height:24px;}
.icon-20 {flex:0 0 20px;width:20px;height:20px;}
.icon-14 {flex:0 0 14px;width:14px;height:14px;}
.icon-12 {flex:0 0 12px;width:12px;height:12px;}

.icon-info {
    -webkit-mask-image:url(../images/icon_only/icon_info.svg);
    mask-image:url(../images/icon_only/icon_info.svg);
}
.icon-info.icon-12 {
    -webkit-mask-image:url(../images/icon_only/icon_info_12.svg);
    mask-image:url(../images/icon_only/icon_info_12.svg);
}
.icon-info.icon-48 {
    -webkit-mask-image:url(../images/icon_only/icon_info_48.svg);
    mask-image:url(../images/icon_only/icon_info_48.svg);
}
.icon-caution {
    -webkit-mask-image:url(../images/icon_only/icon_caution.svg);
    mask-image:url(../images/icon_only/icon_caution.svg);
}
.icon-camera {
    -webkit-mask-image:url(../images/icon_only/icon_camera.svg);
    mask-image:url(../images/icon_only/icon_camera.svg);
}
/* dropDown */
.dropDown {position:relative;z-index:var(--dropdown-zIndex);}
.dropDown.is-dropdown {z-index:calc(var(--dropdown-zIndex) + 1);}
.dropDown .trigger:not(.not-button) {display:flex;font-size:14px;line-height:36px;gap:8px;padding:0 38px 0 12px;border:1px solid var(--grayd2);width:100%;border-radius:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-width:130px;}
.dropDown .trigger:not(.not-button):after {content:'';position:absolute;right:7px;top:50%;transform:translateY(-50%);width:24px;height:24px;margin-left:auto;background:url(../images/form/form-select.svg) center center / contain no-repeat;}
.dropDown.is-dropdown .trigger:not(.not-button) {border-radius:8px 8px 0 0;border-bottom-color:transparent;}
.dropDown:not(.is-dropdown) .target {display:none;}
.dropDown .target {position:absolute;left:0;top:calc(100% - 1px);width:100%;min-width:130px;max-height:182px;background-color:#fff;border:1px solid var(--grayd2);border-top-color:transparent;border-radius:0 0 8px 8px;overflow-x:hidden;overflow-y:auto;}
.dropDown .target.position-right {left:auto;right:0;}
.dropDown .target.position-center {left:50%;transform:translateX(-50%);}

.dropDown > .target:before {content:'';position:absolute;left:12px;right:12px;top:0;background-color:var(--grayd2);height:1px;}
.dropDown > .target > li > a,
.dropDown > .target > li > button {display:block;width:100%;font-size:14px;line-height:20px;padding:8px 12px;word-wrap:break-word;color:var(--graya);}
.dropDown > .target > li > a:hover,
.dropDown > .target > li > button:hover {background-color:var(--graye9);}
.dropDown > .target > li.is-selected > a,
.dropDown > .target > li.is-selected > button {color:var(--black2);}
.dropDown.has-title .target {border-radius:0;box-shadow:0px 4px 10px 0px rgba(0, 0, 0, 0.10);min-width:300px;border:0;min-height:0;max-height:215px;}
.dropDown.has-title .target .target-title {display:flex;align-items:flex-end;justify-content:space-between;padding:15px 20px 10px;background-color:var(--white);}
.dropDown.has-title .target .target-title strong {font-size:18px;font-weight:700;color:var(--black19);line-height:32px;}
.dropDown.has-title .target > ul {border:1px solid var(--graye6);background-color:var(--grayf5);padding:10px 0;}
.dropDown.has-title .target > ul li > * {display:flex;padding:10px 20px;font-size:16px;font-weight:500;color:var(--black19);}
.dropDown.has-title .target .nodata {margin:40px 0;}


/* pagination */
.pagination {display:flex;align-items:center;justify-content:center;gap:0;padding:10px 0;}
.pagination a.disabled {opacity:0.3;}
.pagination a {display:flex;align-items:center;justify-content:center;min-width:34px;width:34px;height:34px;font-size:15px;line-height:34px;font-weight:4;color:var(--graya7);}
.pagination a.first,
.pagination a.prev,
.pagination a.next,
.pagination a.last {border-radius:6px;}
.pagination a.first {margin-right:4px;background:url(../images/pagination/arrow-first.svg) no-repeat;}
.pagination a.prev {margin-right:4px;background:url(../images/pagination/arrow-prev.svg) no-repeat;}
.pagination a.next {margin-left:4px;background:url(../images/pagination/arrow-next.svg) no-repeat;}
.pagination a.last {margin-left:4px;background:url(../images/pagination/arrow-last.svg) no-repeat;}
.pagination a.active {color:var(--white);font-weight:700;border-radius:10px;background-color:var(--red400);}
